<form action="#">
  <label>Checkbox</label>
    <ul class="checkbox">
      <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"><div>Choice</div></label></li>
    </ul>
</form>
