<p>Button Style 1</p>
<p><a href="#" class="btn" name="Submit Button" type="button">SUBMIT</a></p>
<p>Button Style 2</p>
<p><a href="#" class="btn-2" name="Submit Button" type="button">SUBMIT</a></p>
