<p>Button Style 1</p>
<p><button class="btn btn-1" name="Submit Button" type="submit">SUBMIT</button></p>
<p>Button Style 2</p>
<p><button class="btn btn-2" name="Submit Button" type="reset">SUBMIT</button></p>
