<form action="#">
    <label>Radio Buttons</label>
        <ul class="radio">
          <li><label for="radio1"><input id="radio1" name="radio" type="radio" checked="checked"> Choice A</label></li>
          <li><label for="radio2"><input id="radio2" name="radio" type="radio"> Choice B</label></li>
          <li><label for="radio3"><input id="radio3" name="radio" type="radio"> Choice C</label></li>
        </ul>
</form>
