<div class="video">
  <iframe data-align="center" data-original-input="https://www.youtube.com/watch?v=O6NRLYUThrY" data-size="full" data-video-image="http://img.youtube.com/vi/O6NRLYUThrY/0.jpg" src="https://www.youtube.com/embed/O6NRLYUThrY?autohide=1&amp;controls=1&amp;showinfo=0" title="Video">
  </iframe>
</div>
