{% for options in blockquote_options %}
  <div class="blockquote-container">

    <h1>Welcome to UCSF’s Web Patterns Library</h1>

    <h2>Built Using an Atomic Framework</h2>
    <p>If you're looking to build a fully customized website or application, UCSF’s easy-to-use Web Patterns Library will allow you to build a unique look and feel without designing common elements from scratch. Developers across the UCSF community can borrow and contribute patterns, making it easier to forge functional, beautiful websites or applications with less effort.</p>

    <h2>How to Navigate</h2>
    <h3>Base</h3>
    <p>This section contains elements that provide the underlying framework for everything else, such as colors, fonts, grids, and utilities.</p>

    <h3>Atoms</h3>
    <p>These are the smallest functional units in the pattern library. Just like the atom, they can’t be broken down any further without losing their meaning. This includes buttons, form fields, headings and other small elements.</p>

    <h3>Molecules</h3>
    <p>Molecules combine a minimum of two atoms to form a meaningful component, like a hero or a card.</p>

    <h3>Organisms</h3>
    <p>Organisms contain multiple molecules to form a larger piece of functionality. For instance, you could take multiple cards to form a row of related items.</p>

    <h3>Templates</h3>
    <p>Templates combine various organisms to show how they can work together to form a fully functional webpage.</p>

    <h3>Pages</h3>
    <p>Pages take templates a step further, with dummy information to help show how a template will look with “real” information.</p>

    <h2>Putting the Pieces Together</h2>
    <p>These elements work together much like a Russian nesting doll. For instance, if you made a change to an atom, it would automatically reflect in any molecules that contain it, making it a very flexible and robust system of design.</p>

    <p>Keep in mind that this is a living library and that it isn’t meant to be prescriptive. You can use any combination of elements while also contributing new ones.</p>

    <p>If you’re a developer and you’re ready to begin:</p>

    <p><a class="btn btn--blue btn--full-width" href="https://github.com/ucsf-web-services/ucsf_pattern_library" target="_blank">Read The Installation Guide</a></p>

    <h2>Contributing a Pattern</h2>

    <p>New patterns must undergo a three-step process before being integrated into the Web Patterns Library.</p>

    <ol>
      <li>You submit a request for a new or existing pattern you'd like added.</li>
      <li>The IT Web Services Team will work with you to design and develop a new pattern or make sure that your existing pattern passes accessibility and compliance requirements.</li>
      <li>The UCSF Brand Team will make sure it fits into our visual system and offer suggestions for updates if needed.</li>
    </ol>

    <p><a class="btn btn--blue btn--full-width" href="https://websites.ucsf.edu/request-new-pattern" target="_blank">Request a New Web Pattern</a></p>

  </div>

{% endfor %}
