{% for options in blockquote_options %}
    <div class="blockquote-container">
     
        <h1>Welcome to UCSF’s Web Patterns Library</h1>

        <h2>Built Using an Atomic Framework</h2>



        <p>If you're looking to build a fully customized website or
        application, UCSF’s easy-to-use Web Patterns Library will allow you to build a
        unique look and feel without designing common elements from scratch. Developers
        across the UCSF community can borrow and contribute patterns, making it easier
        to forge functional, beautiful websites or applications with less effort.</p>



        <h3>Here’s how to navigate:</h3>


        <p><b>Base:</b> This section contains elements that provide the
        underlying framework for everything else, such as animations, colors, fonts,
        grids, and utilities.</p>



        <p><b>Atoms:</b> These are the smallest functional units in the
        pattern library. Just like the atom, they can’t be broken down any further
        without losing their meaning. This includes buttons, form fields, headings and
        other small elements.</p>



        <p><b>Molecules:</b> Molecules combine a minimum of two atoms
        to form a meaningful component, like a hero or a card.</p>



        <p><b>Organisms:</b> Organisms contain multiple molecules to
        form a larger piece of functionality. For instance, you could take multiple
        cards to form a row of related items.</p>



        <p><b>Templates: </b>Templates combine various organisms to
        show how they can work together to form a fully functional webpage. </p>



        <p><b>Pages:</b> Pages take templates a step further, with
        dummy information to help show how a template will look with “real”
        information.</p>



        <h3>Putting the pieces together:</h3>



        <p>These elements work together much like a Russian nesting
        doll. For instance, if you made a change to an atom, it would automatically
        reflect in any molecules that contain it, making it a very flexible and robust
        system of design.</p>



        <p>Keep in mind that this is a living library and that it isn’t
        meant to be prescriptive. You can use any combination of elements while also
        contributing new ones. </p>



        <p>If you’re a developer and you’re ready to begin, read the
        installation guide.</p>

        <p>&nbsp;</p>

        <p><a href="https://github.com/ucsf-web-services/ucsf_pattern_library" target="_blank">Read The Installation Guide at Github.com &gt;&gt;</a></p>
        
        <p><a href="https://websites.ucsf.edu/ucsf-web-patterns-library" target="_blank">Read The Introduction on websites.ucsf.edu &gt;&gt;</a></p>
        
    </div>

{% endfor %}
