<div class="all-events-list all-events-list--grid four-col">
  <div class="all-events-list__heading">
    <h2 class="font-helvetica-neue-light">Events</h2>
  </div>
  <div class="all-events-list__row">
    <div class="all-events-list__item four-col__left">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__center-left">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__center-right">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__right">
      {% include "molecules-event-card" %}
    </div>
  </div>
  <div class="all-events-list__row">
    <div class="all-events-list__item four-col__left">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__center-left">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__center-right">
      {% include "molecules-event-card" %}
    </div>
    <div class="all-events-list__item four-col__right">
      {% include "molecules-event-card" %}
    </div>
  </div>
</div>
