<div class="all-publications-list">
  <div class="all-publications-list__heading">
    <h2 class="font-helvetica-neue-light">Publications</h2>
  </div>
  <div class="all-publications-list__item">
    {% include "molecules-publication-teaser" %}
  </div>
  <div class="all-publications-list__item">
    {% include "molecules-publication-teaser" %}
  </div>
  <div class="all-publications-list__item">
    {% include "molecules-publication-teaser" %}
  </div>
  <div class="all-publications-list__item">
    {% include "molecules-publication-teaser" %}
  </div>
</div>
