<div class="featured-profiles-list three-col">
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-card" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-short-teaser" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-card" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-short-teaser" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-short-teaser" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-card" %}
    </div>
    <div class="featured-profiles-list__col ">
        {% include "molecules-profile-short-teaser" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-short-teaser" %}
    </div>
    <div class="featured-profiles-list__col">
        {% include "molecules-profile-short-teaser" %}
    </div>
</div>

