<div class="all-profiles-list">
  <div class="row all-profiles-list__item clearfix">
    {% include "molecules-profile-teaser" %}
  </div>
  <div class="row all-profiles-list__item clearfix">
    {% include "molecules-profile-teaser" %}
  </div>
  <div class="row all-profiles-list__item clearfix">
    {% include "molecules-profile-teaser" %}
  </div>
</div>
