<div class="all-articles-list">
    {% for text in all_articles_local %}
        <div class="all-article-list__item">
            {% include "molecules-news-teaser" %}
        </div>
    {% endfor %}
</div>
<div class="all-articles-list four-col row">
  <div class="pagination">
    {% include "molecules-pagination" %}
  </div>
</div>
