<div class="news-short-teaser">
  <div class="news-short-teaser__image">
    {% include "atoms-teaser-image" %}
  </div>
  <div class="news-short-teaser__detail">
    <p>{% include "atoms-date" %}</p>
    <h3><a href="#">Lorem ipsum dolor sit amet consec tetur adipiscing elsed do eiusmod tempor.</a></h3>
  </div>
</div>
