<div class="news-short-teaser {% if in_sidebar %}news-short-teaser__sidebar{% endif %}">
  <div class="news-short-teaser__image">
    {% include in_sidebar ? "atoms-teaser-image-small" : "atoms-teaser-image" %}
  </div>
  <div class="news-short-teaser__detail">
    <p>{% include "atoms-date" %}</p>
    <h3>{{ html.a(text.news.link) }}</h3>
  </div>
</div>
