<div class="profile-short-teaser">
  <div class="profile-short-teaser__detail">
    <h4><a href="#">Firstname Lastname</a></h4>
    <p>Designation / Job Title</p>
    <p>Department / School Information</p>
  </div>
</div>
