.accordion-2 {
  button.js-accordion__header {
    background-color: $white;
    color: $ucsf-blue;
    padding: 1em;
    width: 100%;
    margin-bottom: -1px;
    margin-top:0;
    display: block;
    border-radius: 3px;
    border-top: 2px solid $border-gray;
    border-right: 2px solid $border-gray;
    border-left: 2px solid $border-gray;
    border-bottom: none;
    &:last-of-type {
      border-bottom: 2px solid $border-gray;
    }
  }
  .js-accordion__header {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    font-family: $font-helvetica-neue;
    &[aria-expanded="false"]:before {
      content: "+";
      margin-right: 10px;
    }
    &[aria-expanded="true"] {
      color: $white;
      background-color: $ucsf-blue;
      border: 0;
      border-top: 2px solid $ucsf-blue;
      border-right: 2px solid $ucsf-blue;
      border-left: 2px solid $ucsf-blue;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      &:before {
        content: "-";
        margin-right: 10px;
      }
    }

  }

  .js-accordion__panel {
    padding: 1.5em;
    border: 2px solid $ucsf-blue;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    p {
      padding-left: 0;
    }
    &[aria-hidden=true] {
      display: none;
    }
    &[role="tabpanel"] .js-accordion__header {
      display: none;
    }
  }

}




