.accordion-2 {
  .accordion__header {
    background-color: $white;
    color: $ucsf-blue;
    padding: 1em;
    width: 100%;
    margin-bottom: 0;
    // Borders
    border-radius: 3px;
    border-top: 2px solid $border-gray;
    border-right: 2px solid $border-gray;
    border-left: 2px solid $border-gray;
    font-weight: normal;
    &:before {
      content: "+";
      margin-right: 10px;
    }
    p {
      width: inherit;
    }
    &.last {
      border-bottom: 1px solid $border-gray;
    }
  }
  .accordion__body {
    padding: 1.5em;
    border: 2px solid $ucsf-blue;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    p {
      padding-left: 0;
    }
  }
  .downarrow {
    color: $white;
    background-color: $ucsf-blue;
    border: 0;
    border-top: 2px solid $ucsf-blue;
    border-right: 2px solid $ucsf-blue;
    border-left: 2px solid $ucsf-blue;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &:before {
      content: "-";
      margin-right: 10px;
    }
    &.last {
      border-bottom: none;
    }
  }
}




