.vertical-tab {
  #vertical-tab__title {
    display: inline-block;
    float: left;
    margin-left: 0;
    li {
      width: 15em;
      list-style-type: none;
      display: block;
      position: relative;
      background-color: $white;
      margin: auto 0;
      padding: 1em;
      outline: 0;
      text-decoration: none;
      cursor: pointer;
      color: $ucsf-blue;
      border-left: 2px solid $border-gray;
      border-bottom: 2px solid $border-gray;
      line-height: 1.1em;
    }
    li.current {
      background-color: $ucsf-blue;
      color: $white;
      border-top: 2px solid $ucsf-blue;
      border-left: 2px solid $ucsf-blue;
      border-bottom: 2px solid $ucsf-blue;
      margin-top: -2px;
    }
    li:first-child {
      border-top-left-radius: 3px;
      border-top: 2px solid $border-gray;
    }
    li.current:first-child {
      border-top-left-radius: 3px;
      border-top: 2px solid $ucsf-blue;
      margin-top: 0;
    }
  }
  #vertical-tab__content {
    margin-left: 0;
    li {
      display:none;
      list-style: none;
      border: 2px solid $ucsf-blue;
      background-color: #FFF;
      margin-left: 15em;
      min-height: 15em;
      position: relative;
      padding: 1.5em 1em 1em 1em;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      &:first-child {
        display: block;
      }
    }
  }
}
@media only screen and (max-width: $display_medium_min) {
  .vertical-tab {
    #vertical-tab__title {
      float: none;
      width: 100%;
      margin: 0;
      li {
        width: inherit;
        border-right: 2px solid $border-gray;
        &:before {
          content: "+";
          margin-right: 10px;
        }
      }
      li.current {
        margin-left: 0;
        border-right: 2px solid $ucsf-blue;
        &:before {
          content: "-";
          margin-right: 10px;
        }
      }
      li:first-child, li.current:first-child {
        border-top-left-radius: 0;
      }
      li:last-child {
        border-bottom: 0;
      }
    }
    #vertical-tab__content {
      margin: 0;
      li {
        margin-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
