.width-one-fourth {
  width: 25%;
}
.width-one-third {
  width: 33%;
}
.width-half {
  width: 50%;
}
.width-two-third {
  width: 66%;
}
.width-three-fourth {
  width: 75%;
}
.width-two-fifth {
  width: 40%;
}
