<p>Button Style 1</p>
<p><a href="#" class="btn btn-1" id="Descriptive Button Action" type="button">Button</a></p>
<p>Button Style 2</p>
<p><a href="#" class="btn btn-2" id="Descriptive Button Action" type="button">See More</a></p>
<p>Button Style 3</p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <p><a href="#" class="btn btn-3" id="Descriptive Button Action" type="button">Button</a></p>
</div>
