<h2>Small button style</h2>
<p><a class="btn btn--small" name="Descriptive Button Action" type="button">Button</a></p>
<h2>Normal button style</h2>
<p><a class="btn" name="Descriptive Button Action" type="button">Button</a></p>
<h2>Large button style</h2>
<p><a class="btn btn--large" name="Descriptive Button Action" type="button">Button</a></p>
<h2>Full-width button style</h2>
<p><a class="btn btn--full-width" name="Descriptive Button Action" type="button">Button</a></p>
<h2>Darker button style</h2>
<p><a class="btn btn--more--reverse" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn-2" name="Descriptive Button Action" type="button">Button</a></p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <h2 style="color:#fff;">Reversed out button style</h2>
  <p><a class="btn btn-3" name="Descriptive Button Action" type="button">Button</a></p>
  <h2 style="color:#fff;">Second option reversed out button style</h2>
  <p><a class="btn btn--more--white" name="Descriptive Button Action" type="button">Button</a></p>
  <h2 style="color:#fff;">THIS IS NOT COMPLIANT</h2>
  <p><a class="btn btn--white--underline" name="Descriptive Button Action" type="button">Button</a></p>
</div>
