<p><a class="btn btn--small" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn-1" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn--large" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn--full-width" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn--more--reverse" name="Descriptive Button Action" type="button">Button</a></p>
<p><a class="btn btn-2" name="Descriptive Button Action" type="button">Button</a></p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <p><a class="btn btn-3" name="Descriptive Button Action" type="button">Button</a></p>
  <p><a class="btn btn--more--white" name="Descriptive Button Action" type="button">Button</a></p>
  <p><a class="btn btn--white--underline" name="Descriptive Button Action" type="button">Button</a></p>
</div>
