<h2>Default</h2>
<p><button class="btn" name="Descriptive Button Action" type="button">Button</button></p>
<h2>Small</h2>
<p><button class="btn btn--small" name="Descriptive Button Action" type="button">Button</button></p>
<h2>Large</h2>
<p><button class="btn btn--large" name="Descriptive Button Action" type="button">Button</button></p>
<h2>Full-Width</h2>
<p><button class="btn btn--full-width" name="Descriptive Button Action" type="button">Button</button></p>
<h2>Dark</h2>
<p><button class="btn btn--dark" name="Descriptive Button Action" type="button">Button</button></p>
<h2>Light</h2>
<p><button class="btn btn--light" name="Descriptive Button Action" type="button">Button</button></p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <h2 style="color:#fff;">Light on colored background</h2>
  <p><button class="btn btn--light" name="Descriptive Button Action" type="button">Button</button></p>
  <h2 style="color:#fff;">Reversed out button style with transparent background</h2>
  <p><button class="btn btn--dark-transparent" name="Descriptive Button Action" type="button">Button</button></p>
  <h2 style="color:#fff;">Reversed out button style with navy background</h2>
  <p><button class="btn btn--reversed" name="Descriptive Button Action" type="button">Button</button></p>
</div>
