<p>Button Style 1</p>
<p><button class="btn btn-1" name="Descriptive Button Action" type="button">Button</button></p>
<p>Button Style 2</p>
<p><button class="btn btn-2" name="Descriptive Button Action" type="button">See More</button></p>
<p>Button Style 3</p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <p><button class="btn btn-3" name="Descriptive Button Action" type="button">Button</button></p>
</div>
