<p>Button Style 1</p>
<p><a href="#" class="btn btn-1" id="Descriptive-Button-Action">Button</a></p>
<p>Button Style 2</p>
<p><a href="#" class="btn btn-2" id="More-Descriptive-Button-Action">See More</a></p>
<p>Button Style 3</p>
<div style="background-color: #052049; overflow: auto; display: block; padding: 1em;">
  <p><a href="#" class="btn btn-3" id="Even-More-Descriptive-Button-Action">Button</a></p>
</div>
