//** Color Variables ** //

/* Neutral Palette */
$black:           #000;
$white:           #FFF;
$lightgray:       #D1D3D3;
$background-gray: #EFEFEF;
$border-gray:     #DDD;
$darkgray:        #B4B9BF;
$darkergray:      #939393;
$darkdarkgray:    #666;
$darkestgray:     #525860;

/* Primary Palette */
$ucsf-navyblue:   #052049;
$ucsf-teal:       #058488;
$ucsf-blue:       #0071AD;
$ucsf-orange:     #F26D04;
$ucsf-green:      #6EA400;

/* Secondary Palette */
$ucsf-purple:     #716FB2;
$ucsf-coral:      #EB093C;
$ucsf-yellow:     #FFDD00;
$ucsf-lightyellow: #FFFCE6;

/* Tints */
$color--black--tint05: #3B3B3B;
$color--black--tint1: #4D4D4D;
$color--black--tint2: #999999;
$color--black--tint3: #E5E5E5;

$color--grey1--tint1: #DFE0E0;
$color--grey1--tint2: #EDEDEE;
$color--grey1--tint3: #FAFBFB;

$color--grey2--tint1: #CBCED2;
$color--grey2--tint2: #E1E3E6;
$color--grey2--tint3: #F8F8F9;

$color--grey--tint1: $color--grey2--tint1;

$color--navy--tint1: #506380;
$color--navy--tint2: #9BA6B6;
$color--navy--tint3: #E6E9ED;

$color--blue--tint1: #5DAFDB;
$color--blue--tint2: #A2D1EA;
$color--blue--tint3: #E8F4FA;

$color--orange--tint1: #F7A665;
$color--orange--tint2: #FBCCA7;
$color--orange--tint3: #FEF2E9;

$color--teal--tint1: #5DBFC5;
$color--teal--tint2: #A3DADE;
$color--teal--tint3: #E8F6F7;

$color--green--tint1: #B1D16F;
$color--green--tint2: #D3E4AD;
$color--green--tint3: #F4F8EA;

$color--purple--tint1: #9C9AC9;
$color--purple--tint2: #C6C5E0;
$color--purple--tint3: #F1F1F7;

$color--pink--tint1: #F25D7F;
$color--pink--tint2: #F7A3B6;
$color--pink--tint3: #FDE8ED;

$color--yellow--tint1: #FFE74D;
$color--yellow--tint2: #FFF199;
$color--yellow--tint3: #FFFCE6;

/* Selected Colors */
$primary-color: $ucsf-navyblue;
$secondary-color: $ucsf-orange;

//** Breakpoints **//

//-- Breakpoint minimums from SiteBuilder
$width--xsmall  : 320px;
$width--small   : 480px;
$width--medium  : 769px;
$width--960  	: 960px;
$width--large   : 1080px;
$width--xlarge  : 1170px;

//-- Mobile First Responsive Breakpoints
$display_medium_portrait_up: (min-height $width--medium) (orientation portrait);
$display_small_up: $width--small;
$display_medium_up: $width--medium;
$display_large_up: $width--large;
$display_960_up: $width--960;

//-- Minumum Dimensions for Singularity Breakpoints
$display_large_min: $width--large;
$display_medium_min: $width--medium;
$display_small_min: 0px;

//-- Ranges for Singularity Breakpoints:

// Desktop & large display
$display_large: $display_large_min;
// Devices and medium size displays
$display_medium: $display_medium_min ($display_large_min - 1);
// Handheld and small display screen
$display_small: $display_small_min ($display_medium_min - 1);

//** Singularity Grids **//
// This enables debug including the grid background display
//@include sgs-change('debug', true);

// Fonts
$font_light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-helvetica-neue: "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif;
$font-granjon: "Granjon LT W01 Roman", Garamond, "Times New Roman", serif;
$font-awesome: "FontAwesome";
$font-size: 18px;
$font-size-large: 22px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-weight: 400;
$font-weight-light: 300;
$line-height: 1.5;
$text-color: #222;
