//** Color Variables ** //

/* Neutral Palette */
$black:           #000;
$white:           #FFF;
$lightgray:       #D1D3D3;
$background-gray: #EFEFEF;
$border-gray:     #DDD;
$darkgray:        #B4B9BF;
$darkergray:      #939393;

/* Primary Palette */
$ucsf-navyblue:   #052049;
$ucsf-teal:       #058488;
$ucsf-blue:       #007CBE;
$ucsf-orange:     #F26D04;
$ucsf-green:      #6EA400;

/*S econdary Palette */
$ucsf-purple:     #716FB2;
$ucsf-coral:      #EB093C;
$ucsf-yellow:     #FFDD00;

/* Selected Colors */
$primary-color: $ucsf-navyblue;
$secondary-color: $ucsf-orange;

//** Breakpoints **//

//-- Breakpoint minimums from SiteBuilder
$width--xsmall  : 320px;
$width--small   : 480px;
$width--medium  : 769px;
$width--960  	: 960px;
$width--large   : 1080px;
$width--xlarge  : 1170px;

//-- Mobile First Responsive Breakpoints
$display_medium_portrait_up: (min-height $width--medium) (orientation portrait);
$display_small_up: $width--small;
$display_medium_up: $width--medium;
$display_large_up: $width--large;
$display_960_up: $width--960;

//-- Minumum Dimensions for Singularity Breakpoints
$display_large_min: $width--large;
$display_medium_min: $width--medium;
$display_small_min: 0px;

//-- Ranges for Singularity Breakpoints:

// Desktop & large display
$display_large: $display_large_min;
// Devices and medium size displays
$display_medium: $display_medium_min ($display_large_min - 1);
// Handheld and small display screen
$display_small: $display_small_min ($display_medium_min - 1);

//** Singularity Grids **//
// This enables debug including the grid background display
//@include sgs-change('debug', true);

// Fonts
$font_light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-helvetica-neue: "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif;
$font-granjon: "Granjon LT W01 Roman", Garamond, "Times New Roman", serif;

