{% for layout in two_column_layouts %}
{{ titles.h2(layout.title) }}
<div class="two-col {{ layout.grid_class }} container">
  <div class="two-col__left">{{ layout.left }}</div>
  <div class="two-col__right">{{ layout.right }}</div>
</div>
{% endfor %}
