{% include "organisms-header" %}
<div class="basic-page clearfix">
    <div class="basic-page__hero">
      {% include "molecules-hero-3" %}
  </div>
  <h1 class="font-granjon">{{ text.basicPage.title }}</h1>
  <div class="sections">
    <div class="main">
      {% include "organisms-all-articles-list" %}
    </div>
    <div class="sidebar">
      {% include "organisms-multiple-element-sidebar" %}
    </div>
  </div>
</div>
{% include "organisms-footer" %}
