{% extends "two_col_page.twig" %}
{% block hero %}{% endblock %}
{% block heading %}<h1 class="font-granjon">{{ text.basicPage.title }}</h1>{% endblock %}
{% block main %}{% include "molecules-breadcrumbs" %}{% include "organisms-all-articles-list" %}{% endblock %}
{#{% block sidebar %}{% include "organisms-multiple-element-sidebar" %}{% endblock %}#}

