{% extends "basic_page.twig" %}
{% block hero %}{% include "molecules-hero-3" %}{% endblock %}
{% block heading %}<h1 class="font-granjon">{{ text.basicPage.title }}</h1>{% endblock %}
{% block main %}{% include "organisms-all-articles-list" %}{% endblock %}
{% block sidebar %}{% include "organisms-multiple-element-sidebar" %}{% endblock %}
