{% include "organisms-header" %}
<div class="basic-page clearfix">
    <div class="basic-page__hero">
        {% block hero %}Hero Content Goes Here{% endblock %}
    </div>
    <section class="header content-container">
        {% block heading %}<h1 class="font-granjon">Page Title</h1>{% endblock %}
    </section>

    <section class="clearfix content-container">
        {% block main %}Main Content Goes Here{% endblock %}
    </section>
</div>
{% include "organisms-footer" %}
