{% block title %}<title>Two Column Layout</title>{% endblock %}
<div class="two-col {% block colclass %}{% endblock %} container">
    <div class="two-col__left">{%  block left %}Some left hand content{% endblock %}</div>
    <div class="two-col__right">{%  block right %}Some right hand content{% endblock %}</div>
</div>
