.btn {
  //Block
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 3px;

  // Text
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}


.btn-1 {
  background-color: $ucsf-blue;
  border: 1px solid $ucsf-blue;
  color: $white;
}
.btn-1:hover {
  background-color: $white;
  color: $ucsf-blue;
}
.btn-2 {
  background-color: $white;
  border: 1px solid $ucsf-blue;
  color: $ucsf-blue;
}
.btn-2:hover {
  background-color: $ucsf-blue;
  color: $white;
}

.btn-3 {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  &:hover {
    background-color: $white;
    color: $ucsf-blue;
  }
  &:active {
    background-color: $lightgray;
    color: $ucsf-blue;
    border: 1px solid $ucsf-blue;
  }
}
