//** Text Fields **/
fieldset {
  border: none;
  .form {
    label{
      display: block;
    }
    .field-container {
      padding-bottom: 1em;
    }
  }
}

label {
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
}

input {
  padding: 5px;
  width: 100%;
  font-size: inherit;
  border: 1px solid $lightgray;
  background: $white;
}

textarea {
  font-size: inherit;
  width: 100%;
  padding: 5px;
  border-color: $lightgray;
}

abbr[title="Required"] {
  text-decoration: none;
  color: $ucsf-coral;
}


@media only screen and (max-width: $display_medium_min) {
  .field-container {
    input {
      width: 100%;
    }
  }
}

//** Select Menu **/
.select-style {
  position: relative;
  label {
    width: 100%;
    display: block;
  }
  .select-wrapper {
    width: auto;
    position: relative;
    display: inline-block;
    &:after, &:before {
      color: $ucsf-blue;
      position: absolute;
      right: 10px;
      top: 8px;
      display: block;
      width: 10px;
      height: 10px;
      content: "\25BE";
    }
    &:before {
      color: $ucsf-blue;
      position: absolute;
      right: 10px;
      top: 0;
      display: block;
      width: 10px;
      content: "\25BE";
      transform: rotate(180deg);
      border-right: 1px solid $border-gray;
      height: 100%;
      line-height: 2;
      padding-right: 10px;
      }
    }
  select {
    display: block;
    background: transparent;
    border: 1px solid $border-gray;
    border-radius: 0;
    font-size: 14px;
    outline: none;
    padding: 5px 40px 5px 5px;
    -webkit-appearance: button;
    -webkit-border-radius: 0;
    -webkit-user-select: none;
    overflow: hidden;
    -moz-border-radius: 0;
    position: relative;
    z-index: 2;
  }
}

//** Checkbox & Radio Buttons **/
ul.checkbox, ul.radio {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 5px;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
  label {
      font-weight: normal;
      padding: 0;
      div {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        width: calc(100% - 20px);
      }
    }
  input {
    width: 20px;
    height: 20px;
    background: $white;
    border-radius: 50%;
    border: 1px solid $ucsf-blue;
    -webkit-appearance: none;
    position: relative;
    margin: 1px 0 0 0;
    display: inline-block;
    vertical-align: top;
    &:checked {
      background: $ucsf-blue;
      &:after {
        content: "\2713";
        color: $white;
        position: absolute;
        bottom: 1px;
        right: 3px;
        font-size: 15px;
      }
    }
  }
}

.bootstrap-select .dropdown-menu {
    float: left;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display: none;
    list-style: none;
    margin: 9px 0 0;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
}

.bootstrap-select.open>.dropdown-menu {
    display: block;
}