//** Text Fields **/
fieldset {
  border: none;
  .form {
    label{
      display: block;
    }
    .field-container {
      padding-bottom: 1em;
    }
  }
}

label {
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
}

input {
  padding: 5px;
  width: 100%;
  font-size: inherit;
  border: 1px solid $lightgray;
  background: $white;
}

textarea {
  font-size: inherit;
  width: 100%;
  padding: 5px;
  border-color: $lightgray;
}

abbr[title="Required"] {
  text-decoration: none;
  color: $ucsf-coral;
}


@media only screen and (max-width: $display_medium_min) {
  .field-container {
    input {
      width: 100%;
    }
  }
}

.select-style {

  .select-wrapper {
    width: 14em;
  }

  .ui-selectmenu-button.ui-button {
    text-align: left;
    white-space: nowrap;
    width: 14em;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  .ui-button.ui-state-disabled:hover,
  .ui-button.ui-state-disabled:active {
    border: 1px solid $darkgray;
  }

  .ui-button {
    display: inline-block;
    position: relative;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Support: IE <= 11 */
    overflow: visible;
  }

  .ui-button .ui-icon {
    background-image: url("images/ui-icons_ef8c08_256x240.png");
  }

  .ui-selectmenu-icon.ui-icon {
    &:after, &:before {
      color: $ucsf-blue;
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      width: 10px;
      height: 10px;
      content: "\25BE";
    }
    &:before {
      color: $ucsf-blue;
      position: absolute;
      right: 10px;
      top: -2px;
      display: block;
      width: 10px;
      content: "\25BE";
      transform: rotate(180deg);
      height: 100%;
      line-height: 2;
      padding-right: 10px;
    }
  }

  .ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
    background-color: $background-gray;
  }

  .ui-icon {

  }

  .ui-selectmenu-text {
    padding: .4em 1em;
    display: block;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    background-color: $white;
  }

  .ui-widget.ui-widget-content {
    border: 1px solid $darkgray;
  }

  .ui-selectmenu-menu .ui-menu {
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 1px;
  }

  .ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .ui-selectmenu-open {
    display: block;
  }

  .ui-front {
    z-index: 100;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
    background-color: $background-gray;
  }

  .ui-menu .ui-menu-item {
    .ui-menu-item-wrapper {
      padding: .4em 1em;
    }
    margin: 0;
    cursor: pointer;
    /* support: IE10, see #8844 */
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  }

}


//** Checkbox & Radio Buttons **/
ul.checkbox, ul.radio {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 5px;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
  label {
      font-weight: normal;
      padding: 0;
      div {
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
      }
    }
  input {
    width: 20px;
    height: 20px;
    background: $white;
    border-radius: 50%;
    border: 1px solid $ucsf-blue;
    -webkit-appearance: none;
    position: absolute;
    margin: 1px 0 0 0;
    display: block;
    vertical-align: top;
    &:checked {
      background: $ucsf-blue;
      &:after {
        content: "\2713";
        color: $white;
        position: absolute;
        bottom: 1px;
        right: 3px;
        font-size: 15px;
      }
    }
  }
}

.bootstrap-select .dropdown-menu {
    float: left;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display: none;
    list-style: none;
    margin: 9px 0 0;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
}

.bootstrap-select.open>.dropdown-menu {
    display: block;
}
