img {
  max-width: 100%;
}

a img {
  &:hover {
     filter: brightness(105%);
  }
}

// This is necessary so images are always viewable.
body {
  max-width: 100%;
}

#logo {
  img {
    width: auto;
    vertical-align: middle;
    margin: 20px 0;
    max-width: 240px;
    @include breakpoint($display_medium_portrait_up) {
      max-width: 300px;
      margin: 0;
    }
    @include breakpoint($display_medium) {
      max-width: 332px;
      margin: 0;
    }
  }
}

