/*a {
  color: $ucsf-blue;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: ink;
  &:hover {
    text-decoration: none;
  }
}*/
a {
  text-decoration: none;
  //border-bottom: 1px dashed $ucsf-blue;
  color: $ucsf-blue;
  //text-shadow: 1px 2px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
//box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #bdb;
  &:hover {
    //border-bottom: 2px solid $ucsf-blue;
    color: $ucsf-navyblue;
  }
}
#footer {
  a {
    border-bottom-color: $white;
  }
}
h1, h2, h3, h4, h5, h6, #header, .contact-widget__social-media-links, .submenu, .site-top-menu, .tabs__item, [class*="__image"], [id*="atoms-banner-"], [id*="-image"], .accordion__header, .box, .social-media-share, .hero {
  a {
    text-decoration: none;
    border-bottom: none;
    text-shadow: none;
  }
}
/*a.border-link-one {
  text-decoration: none;
  border-bottom: 1px dashed $ucsf-blue;
  padding-bottom: 3px;
  &:hover {
    border-bottom: 2px solid $ucsf-blue;
  }
}

a.border-link-two {
  text-decoration:none;
  border-bottom: 1px dashed $ucsf-blue;
  box-shadow: inset 0 0px 0 $color--blue--tint3;
  color: $ucsf-blue;
  padding-bottom: 3px;
  //transition: box-shadow 0.3s ease-in-out;
  &:hover {
    transition: box-shadow 0.5s ease-in-out;
    border-bottom: 2px solid $color--blue--tint3;
    //color: white;
    box-shadow: inset 0 -100px 0 $color--blue--tint3;
  }
}*/




// a.border-link-two {
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px dashed $ucsf-blue;
//     &::after {
//         content: '';
//         width: 0;
//         height: 2px;
//         display: block;
//         background: $ucsf-blue;
//         transition: width .3s;
//     }
//     &:hover {
//       border-bottom: 1px dashed transparent;
//       color: $text-color;
//       &::after {
//           width: 100%;
//           //transition: width .3s;
//       }
//     }
// }





a.border-link-three {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted $ucsf-blue;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $ucsf-green;
        transition: width .3s;
    }
    &:hover {
      border-bottom: 1px dotted transparent;
      color: $text-color;
      &::after {
          width: 100%;
          //transition: width .3s;
      }
    }
}
