table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  caption {
    font-style: italic;
  }
  td, th {
    padding: 12px;
    text-align: left;
  }
}
.table--bordered {
  thead {
    th {
      background: $ucsf-blue;
      color: $white;
      border-color: $ucsf-blue;
      font-weight: 600;
    }
  }
  tbody {
    td {
      border: 1px #BFBFBF solid;
    }
  }
  tfoot {
    th {
      border: 1px #BFBFBF solid;
    }
  }
}

.table--condensed {
  td, th {
    border-bottom: 1px #BFBFBF solid;
  }
}

.table--zebra  {
  tr:nth-child(even) {
    background: #989898;
  }
  tr {
    &:hover {
      background: #989898;
    }
  }
}
