.tooltip {
  position: relative;
  display: inline-block;
  color: $ucsf-blue;
  &:hover {
    text-decoration: underline;
  }
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: $white;
  text-align: center;
  padding: 0 8px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  z-index: 1;
  top: -35px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: $black;
  border-width: 6px;
  margin-left: -6px;
}
