<div class="calendar-icon">
  <div class="day"><time class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">Wed</time></div>
  <div class="number-date"><time class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">13</time></div>
</div>
