<div class="calendar-icon">
  <div class="day"><time class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ dayofweek.short }}</time></div>
  <div class="number-date"><time class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ day.long }}</time></div>
</div>
