<p>Primary Typeface - Helvetica Neue Light</p>
  <p class="font-helvetica-neue-light"><em>Helvetica Neue Light Italic</em></p>
  <p class="font-helvetica-neue-roman">Helvetica Neue Roman</p>
  <p><em>Helvetica Neue Italic</em></p>
  <p class="font-helvetica-neue"><strong>Helvetica Neue Bold</strong></p>
<hr />
<p>Helvetic Neue Substitute: Arial</p>
  <p class=font-arial>Arial Regular</p>
  <p class="font-arial"><em>Arial Italic</em></p>
  <p class="font-arial"><strong>Arial Bold</strong></p>
  <p class="font-arial"><strong><em>Arial Bold Italic</em></strong></p>
<hr />
<p>Secondary Typeface - Granjon Roman</p>
  <p class="font-granjon">Granjon Roman</p>
  <p class="font-granjon"><em>Granjon Italic</em></p>
  <p class="font-granjon-bold"><strong>Granjon Bold</strong></p>
<hr />
<p>Granjon Roman Substitute: Garamond Regular</p>
  <p class="font-garamond">Garamond Regular</p>
  <p class="font-garamond"><em>Garamond Italic</em></p>
  <p class="font-garamond"><strong>Garamond Bold</strong></p>
