<div class="location-card">
  <div class="location-card__image">
    {% include "atoms-location-image-small" %}
  </div>
  <div class="location-card__detail">
    <h3 class="location-card__title">Office Location</h3>
    <p class="location-card__address">2330 Post St #420, San Francisco, California 94115, United States</p>
    <div class="location-card__contact">
      <p class="location-card__phone">Appointments: (415) 476-7500</p>
      <p class="location-card__fax">Fax: (415) 502-6361</p>
    </div>
    <p class="location-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam.</p>
  </div>
</div>
