<div class="location-card">
  <div class="location-card__image">
    {% include "atoms-location-image-small" %}
  </div>
  <div class="location-card__detail">
    <h3>Office Location</h3>
    <p>2330 Post St #420, San Francisco, Calfifornia 94115, United States</p>
    <span class="contact">
    <p><strong>Appointments</strong> (415) 476-7500</p>
    <p><strong>Fax</strong> (415) 502-6361</p>
    </span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam.</p>
  </div>
</div>

