<div class ="profile-card">
  {% include "atoms-profile-image-large" %}
  <div class="profile-card__detail">
    <h4 class="font-helvetica-neue-light"><a href="#">Firstname Lastname</a></h4>
    <p class="font-helvetica-neue-light">Designation / Job Title</p>
    <p class="font-helvetica-neue-light">Primary Department / School Information</p>
  </div>
</div>
