<div class ="profile-card">
  {% include "atoms-profile-image-large" %}
  <div class="profile-card__detail">
    <h4><a href="#">Firstname Lastname</a></h4>
    <p>Designation / Job Title</p>
    <p>Primary Department / School Information</p>
  </div>
</div>
