<div class ="profile-card">
  <div class="profile-card__image">
    {% include "atoms-profile-image-large" %}
  </div>
  <div class="profile-card__detail">
    <h3 class="profile-card__name"><a href="#">{{ text.profile.name }}</a></h3>
    <p class="profile-card__title">{{ text.profile.title }}</p>
    <p class="profile-card__department">{{ text.profile.info }}</p>
  </div>
</div>
