<div class="accordion-2">
  <p class="accordion__header">Accordion Header 1</p>
  <div class="accordion__body">
    <p>This is the body of the accordion. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <p class="accordion__header">Accordion Header 2</p>
  <div class="accordion__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <p class="accordion__header last">Accordion Header 3</p>
  <div class="accordion__body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>