<p class="accordion-2">This is the accordion</p>
<div class="accordion__header-2">
  <p>This is the body of the accordion. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<p class="accordion-2">This is the accordion n2</p>
<div class="accordion__header-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<p class="accordion-2">This is an other accordion</p>
<div class="accordion__header-2">
  <p>Lorem ipsum dolor sit amet.</p>
</div>
