
<div class="js-accordion accordion-2" data-accordion-prefix-classes="accordion">
    <div class="js-accordion__panel">
        <h2 class="js-accordion__header">Accordion Header 1</h2>
        <p>This is the body of the accordion. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="js-accordion__panel">
        <h2 class="js-accordion__header">Accordion Header 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="js-accordion__panel">
        <h2 class="js-accordion__header">Accordion Header 3</h2>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>
