<div class="horizontal-tab">
  <ul id="horizontal-tab__title">
      <li class="open">This is the first tab title</li>
      <li>This is the second tab</li>
      <li>This is the third tab</li>
  </ul>
  <ul id="horizontal-tab__content">
    <li class="content"><p>This is the body of the first tab...</p></li>
    <li class="content"><p>This is the body of the second tab</p></li>
    <li class="content"><p>And this is the body of the third tab.</p></li>
  </ul>
</div>
