<div class="horizontal-tab">
  <ul id="horizontal-tab__title">
      <li class="open">This is the first tab title</li>
      <li>This is the second tab</li>
      <li>This is the third tab</li>
  </ul>
  <ul id="horizontal-tab__content">
      <li class="content">This is the body of the first tab...</li>
      <li class="content">This is the body of the second tab</li>
      <li class="content">And this is the body of the third tab.</li>
  </ul>
</div>
