<div class="vertical-tab">
<ul id="vertical-tab__title">
    <li class="current">This is the first tab title</li>
    <li>This is the second tab</li>
    <li>This is the third tab it has a really long title to test long titles</li>
</ul>
<ul id="vertical-tab__content">
    <li class="content">This is the body of the first tab...</li>
    <li class="content">This is the body of the second tab</li>
    <li class="content">And this is the body of the third tab.</li>
</ul>
</div>
