<p>Two Columns Wide </p>
<div class="three-col">
<div class="related-content-menu three-col__two-thirds-left">
  <h3>See Also</h3>
  <div class="related-content-menu__links_2_col">
    <ul>
      <li><a href="#">Egestas eget</a></li>
      <li><a href="#">Dapibus ac facilisis sin</a></li>
      <li><a href="#">Cras</a></li>
      <li><a href="#">Eget</a></li>
      <li><a href="#">Dapibus ac facilisis in</a></li>
      <li><a href="#">Cras</a></li>
      <li><a href="#">Eget</a></li>
    </ul>
  </div>
</div>
</div>
