<div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li><a href="#">Home</a></li>
    <li><a href="#">Secondary Page</a></li>
    <li><a href="#" class="breadcrumb-page-title">Tertiary Page</a></li>
  </ul>
</div>
