<p class="footer-menu__header">LINKS</p>
<ul class="footer-menu__links">
  <li><a href="#">Patient Care & Info</a></li>
  <li><a href="#">Research</a></li>
  <li><a href="#">Education</a></li>
  <li><a href="#">About us</a></li>
  <li><a href="#">News & Events</a></li>
  <li><a href="#">Support UCSF</a></li>
</ul>
