<ul class="pager">
  <li class="pager__item"><a href="#">‹ Previous</a></li>
  <li class="pager__item"><a href="#">1</a></li>
  <li class="pager__item"><a href="#">2</a></li>
  <li class="pager__item"><a href="#">3</a></li>
  <li class="pager__item"><a href="#">4</a></li>
  <li class="pager__item"><a href="#">5</a></li>
  <li class="pager__item"><a href="#">6</a></li>
  <li class="pager__item"><a href="#">7</a></li>
  <li class="pager__item"><a href="#">Next ›</a></li>
</ul>
