{% extends "basic_page.twig" %}
{% block hero %}{% include heroType %}{% endblock %}
{% block heading %}
    <h1>{{ title }}</h1>
    <p class="bigger">{{ text.homepage_paragraphs.one }}</p>
    <p class="bigger">{{ text.homepage_paragraphs.two }}</p>
{% endblock %}
{% block main %}
    {% include "organisms-latest-news-list" %}
{% endblock %}
