{% extends "two_col_page.twig" %}
{% block hero %}{% include heroType %}{% endblock %}
{% block heading %}{% endblock %}
{% block main %}
    <div>
    <p>{{ text.homepage_paragraphs.one }}</p>
    <p>{{ text.homepage_paragraphs.two }}</p>
    </div>
    {% include "organisms-featured-profiles-list" %}
    {% include "organisms-featured-publications-list" %}
    {% include "organisms-latest-events-list" %}
    {% include "organisms-latest-news-list" %}
{% endblock %}
{% block sidebar %}
    {% include "organisms-multiple-element-sidebar" %}
{% endblock %}
