{% extends "basic_page.twig" %}
{% block hero %}{% include "molecules-hero-3" %}{% endblock %}
{% block heading %}
    <div class="triptych">
        <div class="col-1">{% include "molecules-featured-content-card" %}</div>
        <div class="col-2">{% include "molecules-featured-content-card" %}</div>
        <div class="col-3">{% include "molecules-featured-content-card" %}</div>
    </div>
{% endblock %}
{% block main %}{% include "organisms-all-articles-list" %}{% endblock %}
{% block sidebar %}{% include "organisms-multiple-element-sidebar" %}{% endblock %}
