<div class="footer-menu three-col">
  <div class="footer-menu__links three-col__two-thirds-left">
    {% include "molecules-footer-menu" %}
  </div>
  <div class="footer-menu__address three-col__right">
    <div class="footer-menu__contact-and-links">
      <div class="footer-menu__address-header">CONTACT US</div>
      <div class="footer-menu__social-media-links">
    </div>
      <a href="#"><i class="fa fa-facebook facebook-link" aria-hidden="true" title="facebook"></i></a>
      <a href="#"><i class="fa fa-twitter twitter-link" aria-hidden="true" title="twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play youtube-link" aria-hidden="true" title= "youtube"></i></a>
    </div>
    <p>2330 Post St #420, San Franciso,<br />
      California 94115, United States <br />
      Phone: (123) 456-7890 <br />
      Fax: (123) 456-7890
    </p>
  </div>
  <div class="footer-menu__copyright">
      &#x00A9; 2015 The Regents of the University of California
  </div>
</div>
