<div id="footer" class="footer-menu">
    <div class="content-container">
        {% set right %}
          {% include "molecules-contact" %}
        {% endset %}
        {% if img.footer_logo != 'FALSE' %}
            {% set left %}
                <div class="footer-logo">{{ html.img(img.footer_logo) }}</div>
            {% endset %}
            {% set center %}
                {% include "molecules-footer-menu" %}
            {% endset %}
            {%  set threecol = {'grid_class': 'three-col--30-40-30', 'left': left, 'center': center, 'right': right, 'leftclass': '', 'centerclass': 'footer-menu__links-wrapper', 'rightclass': 'footer-menu__address'} %}
            {%  include "base-three-column-base" with threecol only %}
        {% else %}
            {% set left %}
                {% include "molecules-footer-menu" %}
            {% endset %}
            {%  set twocol = {'grid_class': 'two-col--70-30', 'left': left, 'right': right, 'leftclass': 'footer-menu__links-wrapper', 'rightclass': 'footer-menu__address'} %}
            {%  include "base-two-column-base" with twocol only %}
        {% endif %}

        <div class="footer-menu__copyright">
            &#x00A9; {{ "now"|date("Y") }} The Regents of the University of California
        </div>
    </div>
</div>
