<div class="header">
  <div class="header__ucsf-main-menu">
    <span class="header__ucsf-main-menu__university">University of California San Francisco</span>
    <span class="header__ucsf-main-menu__links">
      <a href="#" title="About UCSF">About UCSF</a>
      <a href="#" title="Search UCSF">Search UCSF</a>
      <a href="#" title="UCSF Medical Center">UCSF Medical Center</a>
    </span>
  </div>
  <div class="header__section">
    <div class="header__social-media-search">
      <div class ="header__logo">
        {% include "atoms-logo" %}
      </div>
      <div class="header__social-media-links">
        <a href="#"><i class="fa fa-facebook facebook-link" aria-hidden="true" title="facebook link"></i></a>
        <a href="#"><i class="fa fa-twitter twitter-link" aria-hidden="true" title='twitter link'></i></a>
        <a href="#"><i class="fa fa-youtube-play youtube-link" aria-hidden="true" title="youtube link"></i></a>
      </div>
      <div class="header__search">
        {% include "molecules-search" %}
      </div>
    </div>
    <div class="header__header-menu">
      {% include "molecules-header-menu" %}
    </div>
  </div>
</div>
