<div id="header" class="row-full-width">
  <div class="header__ucsf-top-menu">
      {% include "molecules-site-top-menu" %}
  </div>
  <div class="header__section">
      <div class="content-container clearfix">
          <a id="mobile-menu-toggle" class="nav-toggle"><span class="fa fa-bars fa-2x"></span> <span class="mobile-menu-hide-text">Menu</span></a>
          <div class ="header__logo">
              {% include "atoms-logo" %}
          </div>
          <div class="header__social-media-search">
              {% if header.social %}
                  <div class="header__social-media-links">
                      {% include "molecules-social-media-links" %}
                  </div>
              {% endif %}
              {% if header.search %}
                  <div class="header__search">
                      {% include "molecules-search" %}
                  </div>
              {% endif %}
          </div>
          <div class="header__header-menu">
              {% include header.menuType %}
          </div>
      </div>
  </div>
</div>
