<div class="slider slider-hero slider__hero-1">
    {% for slides in hero1_slides %}
        <div class="hero hero-1">
            <div class="hero-1__top-image">
                <div style="background-image:url('{{ img.banner1.src }}')">
                </div>
            </div>
            <div class="hero-1__text">
                <div>
                    <h2>{{ hero.hero1.title }}</h2>
                    <p>{{ hero.hero1.paragraph }}</p>
                    <div class="hero__button">
                        <a href="#" class="btn-3" id="Descriptive-Button-Action">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
