<div class="slider slider-hero slider__hero-3">
    {% for slide in hero3_slides %}
        {%  if slide.hero %}
            {% set hero = slide.hero %}
        {% endif %}
        {%  if slide.img %}
            {% set img = slide.img %}
        {% endif %}
        <div class="hero hero-3">
            <div class="hero-3__top-image">
                <div style="background-image:url('{{ img.banner3.src }}')">
                </div>
            </div>
            <div class="hero-3__text">
                <h2>{{ hero.hero3.title }}</h2>
                <p>{{ hero.hero3.paragraph }}</p>
                <a href="#" class="btn btn--dark-transparent btn--small" id="Descriptive-Button-Action">Read more</a>
            </div>
        </div>
    {% endfor %}
</div>
