<div class="slider slider-hero slider__hero-2">
    {% for slides in hero2_slides %}
        <div class="hero hero-2">
          <div class="hero-2__wrapper">
            <div class="hero-2__top-image">
                <div class="hero-2__top-image--background" style="background-image:url('{{ img.banner2.src }}')"> </div>
            </div>
            <div class="hero-2__text-wrapper">
                <div class="hero-2__text">
                    <h2>{{ hero.hero2.title }}</h2>
                    <p>{{ hero.hero2.paragraph }}</p>
                    <div class="hero-2__button">
                        <a href="#" class="btn-3" name="Descriptive Button Action" type="button">READ MORE</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
