<div class="slider slider-hero slider__hero-4">
    {% for slide in hero4_slides %}
        {%  if slide.hero %}
            {% set hero = slide.hero %}
        {% endif %}
        {%  if slide.img %}
            {% set img = slide.img %}
        {% endif %}
        <div class="hero hero-4">
            <div class="hero-4__top-image">
                <div style="background-image:url('{{ img.banner4.src }}')">
                </div>
            </div>
            <div class="hero-4__text">
                <h2>{{ hero.hero4.title }}</h2>
                <p>{{ hero.hero4.paragraph }}</p>
                <a href="#" class="btn btn--dark-transparent btn--small" id="Descriptive-Button-Action">Read more</a>
            </div>
        </div>
    {% endfor %}
</div>
