{% extends "basic_page.twig" %}
{% block hero %}{% endblock %}
{% block heading %}
    <h1>Articles</h1>
{% endblock %}
{% block main %}
    {% include "molecules-breadcrumbs" %}
    {% include "organisms-all-articles-list" %}
{% endblock %}
