{% extends "basic_page.twig" %}
{% block hero %}{% endblock %}
{% block heading %}
    <h1>People</h1>
{% endblock %}
{% block main %}
    {% include "molecules-breadcrumbs" %}
    {% include "organisms-all-profiles-list" %}
    {% include "molecules-pagination" %}
{% endblock %}
