
<p>This is an example of a Tool Tip, if you
  <span class="tooltip" role="tooltip" aria-describedby="tooltip1">hover this text
    <span class="tooltiptext" id="tooltip1">You are seeing an interesting tool tip that tells you a little more about this thing, whatever it may be.</span>
  </span>
  you should get a tip.
</p>
