<blockquote class="font-granjon blockquote-orange">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>

<br />

<blockquote class="font-granjon blockquote-green">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>

<br />

<blockquote class="font-granjon blockquote-blue">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>

<br />

<blockquote class="font-granjon blockquote-navyblue">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
