<div class="width-one-fourth">
<h2>Example of Blockquote at width-one-fourth</h2>
<blockquote class="font-granjon blockquote-orange">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
</div>
<br />

<div class="width-one-third">
<h2>Example of Blockquote at width-one-third</h2>
<blockquote class="font-granjon blockquote-green">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
</div>
<br />

<div class="width-half">
<h2>Example of Blockquote at width-half</h2>
<blockquote class="font-granjon blockquote-blue">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
</div>
<br />

<div class="width-two-third">
<h2>Example of Blockquote at width-two-third</h2>
<blockquote class="font-granjon blockquote-navyblue">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
</div>
<br />


<div class="width-three-fourth">
<h2>Example of Blockquote at width-three-forth</h2>
<blockquote class="font-granjon blockquote-blue">
  <p class="font-granjon">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
  <div class="blockquote-title"><strong>Firstname, Lastname, Title</strong></div>
  <div class="blockquote-source">Organization/Company/Source</div>
</blockquote>
</div>
