<blockquote class="blockquote {{ color_class }} {{ width_class }} {{ alignment_class }}">
    <p class="blockquote--content font-granjon">{{ heading }} Lorem ipsum dolor sit amet, ex labore vivendo laboramus has, vel at putant legendos. Quod appareat id eos, noster malorum et mea.</p>
    <footer>
    <cite class="blockquote--title">Firstname, Lastname, Title</cite>
    <div class="blockquote--source">Organization/Company/Source</div>
    </footer>
</blockquote>
