<div class="text">
	<p><strong>Strong is used to indicate strong importance</strong></p>

	<p><em>This text has added emphasis</em></p>

	<!--WE DO NOT SUPPORT UNDERLINE: <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>-->

	<p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

	<p><s>This text has a strikethrough</s></p>

	<p>Superscript<sup>®</sup></p>

	<p>Subscript for things like H<sub>2</sub>O</p>

	<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

	<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

	<p><cite>This is a citation</cite>

	<p>The <mark>mark element</mark> indicates a highlight</p>

</div>
