<h2>Using Text Decoration</h2>
<p><a href="#">This is a text linking something</a></p>
<p><strong><a href="#">This is a bold text linking something</a></strong></p>

<h2>Green Underline Dashed, Hover Removes Border Bottom</h2>
<p><a href="#" class="border-link-one">This is a text linking something</a></p>
<p><strong><a href="#" class="border-link-one">This is a bold text linking something</a></strong></p>

<h2>Underline Dashed, Hover Has Animation from Left</h2>
<p><a href="#" class="border-link-two">This is a text linking something</a></p>
<p><strong><a href="#" class="border-link-two">This is a bold text linking something</a></strong></p>

<h2>Underline Dotted, Green Hover Has Animation from Left</h2>
<p><a href="#" class="border-link-three">This is a text linking something</a></p>
<p><strong><a href="#" class="border-link-three">This is a bold text linking something</a></strong></p>
