{#<h2>Option 1: Simple Underline, Hover Removes Line</h2>
<p><em>This is out-of-the-box underlined links. The problem we are seeing is that in some browsers the underline cuts through descenders, such as "g". It also doesn't give us control over how the line looks.</em></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel iaculis diam. Cras id metus vel odio rutrum sagittis non in eros. Pellentesque non neque leo. Nulla sit amet congue magna, non tristique sem. Nulla vitae urna nisl. Nunc tincidunt, quam pulvinar luctus tempus, nisi diam ultricies felis, id egestas erat justo congue nisi. <a href="#">This is a text linking something a text linking something a text linking something a text linking something</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel iaculis diam. Cras id metus vel odio rutrum sagittis non in eros. Pellentesque non neque leo. Nulla sit amet congue magna, non tristique sem. Nulla vitae urna nisl. Nunc tincidunt, quam pulvinar luctus tempus, nisi diam ultricies felis, id egestas erat justo congue nisi. </p>

<p><strong><a href="#">This is a bold text linking something</a></strong></p>


<h2>Option 2: Underline Dashed, Hover Solid</h2>
<p><em>This option uses a dashed line to indicate the link, which we felt was a little less distracting that a hard line, and on hover becomes a strong line. Feel this is the stronger of the options, and will work across browsers, platforms, and our backgrounds while using less code.</em></p>#}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">This is a text linking something</a>. Nulla vel iaculis diam. Nunc tincidunt, quam pulvinar luctus tempus, nisi diam ultricies felis, id egestas erat justo congue nisi.</p>

<p><strong><a href="#" class="border-link-one">This is a bold text linking something</a></strong></p>


{#<h2>Option 3: Underline Dashed, Hover Has Animation</h2>
<p><em>This option adds an animation to the link hover. We have to keep a light color to pass compliance and to work smoothly with the transition.</em></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel iaculis diam. Cras id metus vel odio rutrum sagittis non in eros. Pellentesque non neque leo. Nulla sit amet congue magna, non tristique sem. Nulla vitae urna nisl. Nunc tincidunt, quam pulvinar luctus tempus, nisi diam ultricies felis, id egestas erat justo congue nisi. <a href="#" class="border-link-two">This is a text linking something a text linking something a text linking something a text linking something</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel iaculis diam. Cras id metus vel odio rutrum sagittis non in eros. Pellentesque non neque leo. Nulla sit amet congue magna, non tristique sem. Nulla vitae urna nisl. Nunc tincidunt, quam pulvinar luctus tempus, nisi diam ultricies felis, id egestas erat justo congue nisi. </p>

<p><strong><a href="#" class="border-link-two">This is a bold text linking something</a></strong></p>

<h2>Underline Dotted, Green Hover Has Animation from Left</h2>
<p><a href="#" class="border-link-three">This is a text linking something</a></p>
<p><strong><a href="#" class="border-link-three">This is a bold text linking something</a></strong></p>#}
