<br />
<br />
<p>This is an example of a Tool Tip, if you
  <span class="tooltip">hover this text
    <span class="tooltiptext">You are seeing a tool tip</span>
  </span>
  you should get a tip.
</p>
