<div class="three-col">
  <div class="three-col__two-thirds-left">
    <div class="img-banner">
      <div class="width-half img-banner__left">
        <h5 class="font-helvetica-neue-light">Headline</h5>
        <strong><a href="#">Links can be added in here</a></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      </div>
      <div class ="width-half img-banner__right">
        {% include "atoms-featured-content-image" %}
      </div>
    </div>
  </div>
</div>
