<div class="three-col">
  <div class="three-col__two-thirds-left">
    <div class= "drop-shadow-banner">
      <h5 class="font-helvetica-neue-light">Headline</h5>
      <strong><a href="#">Links can be added in here</a></strong>
      <p class="drop-shadow-banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur laoreet. Phasellus libero ex, finibus vel rhoncus eu, convallis quis lacus. Nunc in molestie odio. Cras vehicula, nisl ac eleifend fermentum, orci felis eleifend ante, non efficitur purus justo eget sem. Nunc rutrum leo in euismod malesuada. Aliquam erat sapien, tincidunt a dui nec, gravida dictum dui. Etiam vel molestie orci. </p>
    </div>
  </div>
</div>
