<div class="three-col">
  <div class="three-col__two-thirds-left">
    <div class="offset-text-banner">
      <div class="offset-text-banner__text">
        <h5 class="font-helvetica-neue-light">Headline</h5>
        <strong><a href="#">Links can be added in here</a></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
      </div>
      <div class ="offset-text-banner__img">
        {% include "atoms-offset-text-banner-image" %}
      </div>
    </div>
  </div>
</div>
