Primary Colors
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #052049;"></span>
		<span class="sg-label">#052049</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #058488"></span>
		<span class="sg-label">#058488</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6EA400;"></span>
		<span class="sg-label">#6EA400</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007CBE;"></span>
		<span class="sg-label">#007CBE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F26D04;"></span>
		<span class="sg-label">#F26D04</span>
	</li>
</ul>

Secondary Colors
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #716FB2;"></span>
		<span class="sg-label">#716FB2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EB093C"></span>
		<span class="sg-label">#EB093C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFDD00;"></span>
		<span class="sg-label">#FFDD00</span>
	</li>
</ul>

Neutral Colors
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFF"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D1D3D3;"></span>
		<span class="sg-label">#D1D3D3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B4B9BF;"></span>
		<span class="sg-label">#B4B9BF</span>
	</li>
</ul>
