<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #052049;"></span>
		<span class="sg-label">#052049</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #058488"></span>
		<span class="sg-label">#058488</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6EA400;"></span>
		<span class="sg-label">#6EA400</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0071AD;"></span>
		<span class="sg-label">#0071AD</span>
	</li>
	<!--<li>
		<span class="sg-swatch" style="background: #006BE9;"></span>
		<span class="sg-label">#006BE9</span>
	</li>-->
	<li>
		<span class="sg-swatch" style="background: #F26D04;"></span>
		<span class="sg-label">#F26D04</span>
	</li>
</ul>

<h2>Secondary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #716FB2;"></span>
		<span class="sg-label">#716FB2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EB093C"></span>
		<span class="sg-label">#EB093C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFDD00;"></span>
		<span class="sg-label">#FFDD00</span>
	</li>
</ul>

<h2>Neutral Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFF"></span>
		<span class="sg-label">#FFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EFEFEF"></span>
		<span class="sg-label">#EFEFEF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DDD"></span>
		<span class="sg-label">#DDD</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D1D3D3;"></span>
		<span class="sg-label">#D1D3D3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B4B9BF;"></span>
		<span class="sg-label">#B4B9BF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #939393"></span>
		<span class="sg-label">#939393</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666"></span>
		<span class="sg-label">#666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #525860"></span>
		<span class="sg-label">#525860</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000</span>
	</li>
</ul>

<h2>Tints</h2>
<h3>Navy</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #052049;"></span>
		<span class="sg-label">#052049</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #506380;"></span>
		<span class="sg-label">#506380</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #9BA6B6;"></span>
		<span class="sg-label">#9BA6B6</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #E6E9ED;"></span>
		<span class="sg-label">#E6E9ED</span>
	</li>
</ul>

<h3>Blue</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0071AD;"></span>
		<span class="sg-label">#0071AD</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007CBE;"></span>
		<span class="sg-label">#007CBE</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #5DAFDB;"></span>
  	<span class="sg-label">#5DAFDB</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A2D1EA;"></span>
  	<span class="sg-label">#A2D1EA</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E8F4FA;"></span>
  	<span class="sg-label">#E8F4FA</span>
  </li>
</ul>

<h3>Orange</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F26D04;"></span>
		<span class="sg-label">#F26D04</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #F7A665;"></span>
		<span class="sg-label">#F7A665</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FBCCA7;"></span>
		<span class="sg-label">#FBCCA7</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FEF2E9;"></span>
		<span class="sg-label">#FEF2E9</span>
	</li>
</ul>

<h3>Teal</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #058488;"></span>
		<span class="sg-label">#058488</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5DBFC5;"></span>
		<span class="sg-label">#5DBFC5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A3DADE;"></span>
		<span class="sg-label">#A3DADE</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E8F6F7;"></span>
		<span class="sg-label">#E8F6F7</span>
	</li>
</ul>

<h3>Green</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #6EA400;"></span>
		<span class="sg-label">#6EA400</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #B1D16F;"></span>
		<span class="sg-label">#B1D16F</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #D3E4AD;"></span>
		<span class="sg-label">#D3E4AD</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #F4F8EA;"></span>
		<span class="sg-label">#F4F8EA</span>
	</li>
</ul>

<h3>Purple</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #716FB2;"></span>
		<span class="sg-label">#716FB2</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #9C9AC9;"></span>
		<span class="sg-label">#9C9AC9</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #C6C5E0;"></span>
		<span class="sg-label">#C6C5E0</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #F1F1F7;"></span>
		<span class="sg-label">#F1F1F7</span>
	</li>
</ul>

<h3>Pink</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #EB093C;"></span>
		<span class="sg-label">#EB093C</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #F25D7F;"></span>
		<span class="sg-label">#F25D7F</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #F7A3B6;"></span>
		<span class="sg-label">#F7A3B6</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FDE8ED;"></span>
		<span class="sg-label">#FDE8ED</span>
	</li>
</ul>

<h3>Yellow</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFDD00;"></span>
		<span class="sg-label">#FFDD00</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FFE74D;"></span>
		<span class="sg-label">#FFE74D</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FFF199;"></span>
		<span class="sg-label">#FFF199</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #FFFCE6;"></span>
		<span class="sg-label">#FFFCE6</span>
	</li>
</ul>
