<div class="calendar-icon">
  <div class="day"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ calendarIcon.dateContent }}">{{ calendarIcon.day }}</span></div>
  <div class="number-date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ calendarIcon.dateContent }}">{{ calendarIcon.numberDate }}</span></div>
</div>