<div class="calendar-icon">
  <div class="day"><date class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ dayofweek.short }}</date></div>
  <div class="number-date"><date class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ day.long }}</date></div>
</div>
