<div class="calendar-icon">
  <div class="day"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ dayofweek.short }}</span></div>
  <div class="number-date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ html.dateContent(year, month, day, hour, minute) }}">{{ day.long }}</span></div>
</div>
