<div class="slideshow flexslider">
    <ul class="slides">
        <li>
            {% include "molecules-hero-2" %}
        </li>
        <li>
            {% include "molecules-hero-2" %}
        </li>
        <li>
            {% include "molecules-hero-1" %}
        </li>
    </ul>
</div>
