<div class="cta-gray">
  <div class="cta-text">
    <h5 class="font-helvetica-neue-light">Headline</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel quam sed odio consectetur.</p>
    <div class="cta-button">
      <a href="#" class="btn" name="Button" type="button">Button</a>
    </div>
  </div>
</div>