<div class="box box-1">
	<h3 class="box--header">Heading</h3>
	<p>With a <a href="">link</a>.</p>
</div>

<div class="box box-2">
	<h3 class="box--header">Heading</h3>
	<p>With a <a href="">link</a>.</p>
</div>

<div class="box">
	<h3 class="box--header">Heading</h3>
	<p>With a <a href="">link</a>.</p>
</div>
