.all-publications-list {
  .all-publications-list__heading {
    border-bottom: 2px solid $secondary-color;
    h2 {
      margin-bottom: 0;
    }
  }
  .all-publications-list__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dotted #B4B9BF;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
