.featured-location {
  .featured-location-header {
    h2 {
    border-bottom: 2px solid #B4B9BF;
    margin-bottom: 0;
    }
  }
  .featured-location-row {
    clear: both;
    margin-bottom: 20px;
  }
}
