.featured-publications {
  .featured-publications__heading {
    border-bottom: 2px solid $secondary-color;
    margin-bottom: 30px;
    padding-bottom: 4px;
    h2 {
      @extend .font-helvetica-neue;
      font-weight: 300;
      font-size: 29px;
      line-height: 1.1;
      margin: 0;
    }
  }
  .featured-publications__items {
    .featured-publications__item {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px dotted #B4B9BF;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
