#footer {
  margin-top: 120px;
}

#footer.footer-menu {
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: $ucsf-navyblue;
  color: $lightgray;
  overflow: auto;
  padding-right: 50px;
  padding-left: 50px;
  clear: both;
  .footer-menu__wrapper {
    padding-bottom: 20px;
  }
  .footer-menu__header {
    text-transform: uppercase;
    border-bottom: 1px solid #b4b9bf;
    padding-bottom: 10px;
    line-height: 1em;
    font-size: 22px;
    margin-top: 0;
  }
  .footer-logo {
    margin-bottom: 20px;
    @include breakpoint($display_medium_up) {
      //margin-top: 32px;
      max-width: 285px;
    }
  }
  .footer-menu__header {

  }
  div.footer-menu__links-wrapper {
    @include breakpoint($display_medium_up) {
      padding-right: 7%;
    }
    a {
      color: #b4b9bf;
      display: block;
      padding-bottom: 3px;
      &:hover {
        color: $white;
      }
    }
  }
  .footer-menu__address {
    .footer-menu__contact-and-links {
      position: relative;
      .footer-menu__social-media-links {
        float: right;
        position: absolute;
        top: -5px;
        right: -3px;
        @include breakpoint($display_medium_up) {
          right: -10px;
        }
      }
    }
  }
  .footer-menu__copyright {
    padding-top: 30px;
    padding-bottom: 15px;
    clear: left;
    color: $white;
    font-size: 14.4px;
  }
}
