.latest-news-list {
  .latest-news-list__heading {
    margin-top: 40px;
    border-bottom: 2px solid $secondary-color;
    margin-bottom: 30px;
    padding-bottom: 4px;
    h2 {
      font-weight: 300;
      font-size: 29px;
      line-height: 1.1;
      display: inline-block;
      margin: 0;
    }
    .btn-2 {
      float: right;
      border-radius: 5px;
      padding: 5px 20px;
      font-size: 12px;
    }
  }
  .latest-news-list__item {
    float: left;
    display: inline-block;
    @extend .width-one-third;
    &.grid {
      @extend .width-half;
      margin-bottom: 3%;
    }
    .news-short-teaser {
      margin-top:0;
      margin-right: 8%;
    }
  }
}
