.lastest-events-list {
  .lastest-events-list__heading {
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 4px;
    h2 {
      @extend .font-helvetica-neue;
      font-weight: 300;
      font-size: 29px;
      line-height: 1.1;
      margin: 0;
      display: inline-block;
    }
    .btn-2 {
      float: right;
      border-radius: 5px;
      padding: 5px 20px;
      font-size: 12px;
      display: inline-block;
      margin-top: 28px;
    }
  }
  .lastest-events-list__item {
    margin-bottom: 28px;
  }
}

@media only screen and (max-width: $display_large_min){
  .lastest-events-list {
    .lastest-events-list__heading {
      width: 100%;
    }
  }
}
