<table>
  <caption>Table</caption>
  <thead>
    <tr>
      <th id="header1">thead th</th>
      <th id="header2">thead th</th>
      <th id="header3">thead th</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td headers="header1">tfoot td</td>
      <td headers="header2">tfoot td</td>
      <td headers="header3">tfoot td</td>
    </tr>
  </tfoot>
</table>

<table class="table--no-row-color">
  <caption>Table, No Row Colors</caption>
  <thead>
    <tr>
      <th id="header1">thead th</th>
      <th id="header2">thead th</th>
      <th id="header3">thead th</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td headers="header1">tfoot td</td>
      <td headers="header2">tfoot td</td>
      <td headers="header3">tfoot td</td>
    </tr>
  </tfoot>
</table>

<table class="table--condensed">
  <caption>Table Condensed</caption>
  <thead>
    <tr>
      <th id="header1">thead th</th>
      <th id="header2">thead th</th>
      <th id="header3">thead th</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
  <tr>
    <td headers="header1">tbody td</td>
    <td headers="header2">tbody td</td>
    <td headers="header3">tbody td</td>
  </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td headers="header1">tfoot td</td>
      <td headers="header2">tfoot td</td>
      <td headers="header3">tfoot td</td>
    </tr>
  </tfoot>
</table>
