<table class="table table--bordered">
  <caption>Table Bordered</caption>
  <thead>
    <tr>
      <th id="header1">thead th</th>
      <th id="header2">thead th</th>
      <th id="header3">thead th</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td headers="header1">tfoot td</td>
      <td headers="header2">tfoot td</td>
      <td headers="header3">tfoot td</td>
    </tr>
  </tfoot>
</table>
<br>
<br>
<br>
<table class="table table--condensed">
  <caption>Table Condensed</caption>
  <thead>
    <tr>
      <th id="header1">thead th</th>
      <th id="header2">thead th</th>
      <th id="header3">thead th</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
    <tr>
      <td headers="header1">tbody td</td>
      <td headers="header2">tbody td</td>
      <td headers="header3">tbody td</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td headers="header1">tfoot td</td>
      <td headers="header2">tfoot td</td>
      <td headers="header3">tfoot td</td>
    </tr>
  </tfoot>
</table>
<br>
<br>
<br>
<table>
    <caption>Table</caption>
    <thead>
        <tr>
            <th id="header1">thead th</th>
            <th id="header2">thead th</th>
            <th id="header3">thead th</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="header1">tbody td</td>
            <td headers="header2">tbody td</td>
            <td headers="header3">tbody td</td>
        </tr>
        <tr>
            <td headers="header1">tbody td</td>
            <td headers="header2">tbody td</td>
            <td headers="header3">tbody td</td>
        </tr>
        <tr>
            <td headers="header1">tbody td</td>
            <td headers="header2">tbody td</td>
            <td headers="header3">tbody td</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td headers="header1">tfoot td</td>
            <td headers="header2">tfoot td</td>
            <td headers="header3">tfoot td</td>
        </tr>
    </tfoot>
</table>
<br>
<br>
<br>
<table class="table table--bordered table--zebra">
  <caption>Zebra Bordered Table</caption>
  <thead>
    <tr>
      <th>Company</th>
      <th>Q1</th>
      <th data-hide="phone">Q2</th>
      <th data-hide="tablet">Q3</th>
      <th>Q4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Microsoft</td>
      <td>20</td>
      <td>30</td>
      <td>40</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Microsoft</td>
      <td>20</td>
      <td>30</td>
      <td>40</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Microsoft</td>
      <td>20</td>
      <td>30</td>
      <td>40</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Microsoft</td>
      <td>20</td>
      <td>30</td>
      <td>40</td>
      <td>50</td>
    </tr>
  </tbody>
</table>
