<div class="featured-publications four-col">
  <div class="featured-publications__heading">
    <h2 class="font-helvetica-neue-light">Publications</h2>
  </div>
  <div class ="featured-publications__row clearfix">
    <div class="featured-publications__item four-col__two-fourths-left">
      {% include "molecules-publication-teaser" %}
    </div>
    <div class="featured-publications__item four-col__two-fourths-right">
      {% include "molecules-publication-teaser" %}
    </div>
  </div>
  <div class ="featured-publications__row clearfix">
    <div class="featured-publications__item four-col__two-fourths-left">
      {% include "molecules-publication-teaser" %}
    </div>
    <div class="featured-publications__item four-col__two-fourths-right">
      {% include "molecules-publication-teaser" %}
    </div>
  </div>
</div>
