<div class="featured-publications">
    <div class="featured-publications__heading">
        <h2>Publications</h2>
    </div>
    <div class="featured-publications__items">
        {% for publication in publications %}
        <div class="featured-publications__item">
            {% include "molecules-publication-teaser" with publication %}
        </div>
        {% endfor %}
    </div>
</div>
