<div class="featured-location three-col">
  <div class="featured-location-header three-col__two-thirds-left">
    <h2 class="font-helvetica-neue-light">Find Us</h2>
  </div>
  <div class="featured-location-row three-col__two-thirds-left">
    {% include "molecules-location-teaser" %}
  </div>
  <div class="featured-location-row three-col__two-thirds-left">
    {% include "molecules-location-teaser" %}
  </div>
</div>
