<div class="latest-articles-list clearfix">
    <div class= "latest-articles-list__heading">
      <h2 class="font-helvetica-neue-light">News</h2>
      <a href="#" class="btn-2" id="see-more">SEE MORE</a>
    </div>
    <div class="latest-articles-list__item clearfix">
      {% include "molecules-news-short-teaser" %}
    </div>
    <div class="latest-articles-list__item clearfix">
      {% include "molecules-news-short-teaser" %}
    </div>
    <div class="latest-articles-list__item clearfix">
      {% include "molecules-news-short-teaser" %}
    </div>
    <div class="latest-articles-list__item clearfix">
      {% include "molecules-news-short-teaser" %}
    </div>
</div>
