<div class="lastest-events-list four-col">
  <div class="lastest-events-list__heading">
    <h2 class="font-helvetica-neue-light">Events</h2>
    <a href="#" class="btn-2" id="see-more">SEE MORE</a>
  </div>
  <div class="lastest-events-list__item four-col__left">
    {% include "molecules-event-card" %}
  </div>
  <div class="lastest-events-list__item four-col__center-left">
    {% include "molecules-event-card" %}
  </div>
  <div class="lastest-events-list__item four-col__center-right">
    {% include "molecules-event-card" %}
  </div>
  <div class="lastest-events-list__item four-col__right">
    {% include "molecules-event-card" %}
  </div>
</div>
