<div class="location-list three-col">
  <div class="location-list__header ">
    <h2 class="font-helvetica-neue-light">Find Us</h2>
  </div>
  <div class="location-list__row three-col__item1">
    {% include "molecules-location-card" %}
  </div>
  <div class="location-list__row three-col__item2">
    {% include "molecules-location-card" %}
  </div>
  <div class="location-list__row three-col__item3">
    {% include "molecules-location-card" %}
  </div>
</div>
