.breadcrumbs {
  ul {
    list-style: none;
  }
  .breadcrumbs__list{
    font-size: .9em;
    padding-bottom: 0;
    margin-top: 2px;
    margin-bottom: 12px;
    margin-left: 0px;
    li {
      color: $darkestgray;
      list-style: none;
      display: inline-block;
      margin-left: 5px;
      &:after {
        content: " >";
        color: $darkestgray;
        margin-left: 5px;
        }
      &:last-child {
        &:after {
          content: "";
        }
      }
      a {
        color: $ucsf-blue;
        &:hover {
          color: $ucsf-navyblue;
        }
      }
    }
  }
}
