.event-card {
  margin-right: 64px;
  h3 {
    font-size: 18px;
  }
  .event-card__image {
    float: left;
  }
  .event-card__detail {
    p {
      margin-bottom: 0px;
      height: 69px;
      clear: right;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .event-card__date-time {
    display: inline-block;
    float: left;
    clear: left;
    p {
      margin: 0px;
    }
  }
}
