.header-menu {
  display: none;
  @include breakpoint($display_medium_up) {
    display:table;
    max-width: 888px;
    table-layout: fixed;
  }

  ul {
    @include breakpoint($display_medium_up) {
      display:table-row;
    }
    margin: 0;
    li {
      .submenu {
        li {
          width: 200px;
          margin-right: 0;
        }
      }
      display:table-cell;
      text-align: center;
      list-style-type: none;
      display: block;
      width: 100%;
      clear: both;
      @include breakpoint($display_medium_up) {
        width: auto;
        display: inline-block;
      }
      margin-right: 20px;
    }
    a {
      font-size: 16px;
      padding: 5px 15px;
      text-decoration: none;
      display: block;
      color: $ucsf-navyblue;
      &:hover {
        background-color: rgba($secondary-color, 0.6);
        border-radius: 2px;
        -webkit-transition: none;
        transition: none;
      }
      &:active {
        background-color: $background-gray;
        border-radius: 2px;
        -webkit-transition: none;
        transition: none;
      }
    }
    li.last {
      margin-right: 0;
    }
  }
  .submenu__dropdown {
    position: relative;
    cursor: pointer;
    .fa-caret-right {
      display: none;
    }
    .fa-caret-down {
      width: 15px;
      padding-left:7px;
    }
  }
}

.header-menu.open {
  display: block;
  -webkit-box-shadow: 2px 2px 2px #CCC;
  -moz-box-shadow: 2px 2px 2px #CCC;
  box-shadow: 2px 2px 2px #CCC;
  ul {
    li {
      border: 1px solid #B4B9BF;
      background-color: #EDEDEE;
      a {
        padding: 20px;
        &:hover {
          border: none;
        }
      }
    }
  }
}

.submenu__content {
  margin-top: 2px;
  display: none;
  z-index: 10;
}

.submenu__dropdown.show {
  .fa-caret-down {
    display: none;
  }
  .fa-caret-right {
    display: inline-block;
    width: 15px;
    padding-left:7px;
  }
}

.show .submenu__content {
  display: block;
  width: 100%;
  @include breakpoint($display_medium_up) {
    position: absolute;
    width: auto;
    right: 0px;
  }
}

.toggle-menu {
  width: 25px;
  height: 40px;
  margin-top: 15px;
  text-indent: -9999px;
  float: right;
  z-index: 201;
  position: relative;



  display: block;
  font-size: 1.5em;
  text-align: right;
  width: 100%;
  .fa-close {
    display: none;
  }
  @include breakpoint($display_medium_up) {
    display: none;
  }
}

.toggle-menu.close {
  .fa-close {
    display: inline;
    color: $ucsf-blue;
  }
  .fa-bars {
    display: none;
    color: $ucsf-blue;
  }
}
