.hero-5 {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: 385px;
  background-position: center center;
  @include breakpoint($display_medium_min) {
    height: 500px;
  }
  &__text {
    width: 100%;
    text-align: center;
    margin: auto;
    z-index: 3;
    color: white;
    position: absolute;
    max-height: 500px;
    padding: 60px 0;
    max-width: 617px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h1 {
      margin: 0 auto 10px;
    }
  }
}


// Hero 5
.slick-slider.slider__hero-5 {
  margin-left: -20px;
  margin-right: -20px;
  @include breakpoint($display_medium_min) {
    margin-left: -50px;
    margin-right: -50px;
  }
  .slick-prev {
    left: 2%;
    display: none!important;
  }
  .slick-next {
    right: 2%;
    display: none!important;
  }
  @include breakpoint($display_medium_min) {
    .slick-prev {
      display: block!important;
    }
    .slick-next {
      display: block!important;
    }
  }
}