.slider.slider__hero-3 {
  max-width: 1320px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  @include breakpoint($display_960_up) {
    padding-left: 25px;
    padding-right: 50px;
  }
  // Custom breakpoint to catch the behaviour when the image wont collapse
  // any more.
  $collapsing-wide-breakpoint: 1317px;
  .slick-prev {
    left: 72%;
    @include breakpoint($collapsing-wide-breakpoint) {
      left: 68.5%;
    }
    top: 67px;
  }
  .slick-next {
    left: 78%;
    @include breakpoint($collapsing-wide-breakpoint) {
      left: 75%;
    }
    top: 67px;
    right: 0;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
    @include breakpoint($display_960_up) {
      display: block !important;
    }
  }

  &:before {
    height: 90%;
    content: " ";
    position: absolute;
    z-index: -1;
    overflow: visible;
    left: -200%;
    right: -200%;
    top: 0;
    display: none;
    @include breakpoint($display_960_up) {
      background-color: $primary-color;
      bottom: 25px;
      height: 475px;
      display: block;
    }
  }
  &:after {
    background-color: $secondary-color;
    content: " ";
    position: absolute;
    width: 213px;
    height: 30px;
    left: 0px;
    bottom: -30px;
    @include breakpoint($display_960_up) {
      height: 500px;
      width: 145px;
      left: 65.8%;
      top: 0;
      display: block;
      z-index: -22;
    }
  }

  .hero__button {
    padding-bottom: 5px;
  }

  .paging-info {
    z-index: 20;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: static;
    bottom: 50px;
    @include breakpoint($display_medium_up) {
      position: absolute;
    }
  }
}

.hero-3 {
  &__top-image {
    max-height: 250px;
    width: 100%;
    height: 100%;
    @include breakpoint($display_small_up) {
      max-height: 412px;
    }
    @include breakpoint($display_960_up) {
      float: left;
      width: 71%;
      height: 100%;
      max-width: 845px;
      max-height: 500px;
    }
    div {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
      @include breakpoint($display_small_up) {
        height: 412px;
      }
      @include breakpoint($display_960_up) {
        height: 500px;
      }
    }

  }

  &__text {
    &::-webkit-scrollbar {
      display: none;
    }
    background-color: $primary-color;
    position: static;
    display: block;
    float: left;
    color: #FFF;
    max-height: 280px;
    height: 280px;
    overflow: auto;
    width: 100%;
    padding: 30px;
    @include breakpoint($display_960_up) {
      max-height: 320px;
      height: 320px;
      margin-top: 90px;
      width: 29%;
      padding: 20px 20px 10px 40px;
      margin-bottom: 30px;
      .slick-slider {
        margin-bottom: 0;
      }
    }
    div {
      p {
        -webkit-line-clamp: 3;
        overflow: hidden;
        padding-bottom: 0;
      }
    }
    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: -200%;
      right: -200%;
      max-width: 100%;

      margin-top: -12%;
      bottom: 0;
      display: none;
      @include breakpoint($display_960_up) {
        margin-top: 0;
        bottom: auto;
        display: block;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      width: 145px;
      height: 500px;
      z-index: -22;
      top: 30px;
      left: 0;
      @include breakpoint($display_960_up) {
        left: 845px;
        top: 0;
      }
    }
    h2  {
      margin-bottom: 10px;
      line-height: 1em;
      font-size: 30px;
      font-weight: 300;
      @include breakpoint($display_960_up) {
        font-size: 44px;
      }
    }
  }

}
