// Hero Buttons
.hero__button a {
  border: 1px solid #fff;
  padding: 4px 10px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .14em;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif;
}

.hero {
  h2 {
    font-size: 30px;
    letter-spacing: -.02em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 20px;
    @include breakpoint($display_medium_up) {
      font-size: 48px;
    }
  }
  position: relative;
}

// Hero 1
.slider.slider__hero-1 {
  padding: 0;
  max-width: 1320px;
  margin: 0 auto;
  @include breakpoint($display_medium_up) {
    padding-left: 0px;
  }
  margin-bottom: 50px;
  position: relative;
  &:after {
    background-color: $secondary-color;
    content: " ";
    position: absolute;
    width: 30px;
    height: 300px;
    z-index: 0;
    right: 0px;
    top: 0;
  }
  .hero-1__text {
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 48px;

    overflow: auto;
    color: #FFF;
    position: relative;
    // Primary Color
    background-color: $primary-color;
    height: 260px;
    @include breakpoint($display_medium_up) {
      padding-left: 75px;
      padding-right: 75px;
    }
    > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 68%;
    }
    p {
      font-size: 15px;
      @include breakpoint($display_medium_up) {
        font-size: 18px;
      }
      line-height: 1.4;
      margin-bottom: 20px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 40px;
      @include breakpoint($display_medium_up) {
        max-height: 55px;
      }
    }
  }
  .hero-1__title {
    letter-spacing: -.02em;
    line-height: 1em;
    display: block !important;
    margin-bottom: 20px;
    @include breakpoint($display_medium_min) {
      font-size: 48px;
    }
  }
  .hero-1__top-image {
    height: 40px;
    width: 100%;
    float:right;
    position: relative;
    div {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 905px;
      max-width: 100%;
      background-position: center center;
      background-size: cover;
    }
    img {
      display: none;
      height: 500px;
    }
  }
  .slick-dots {
      bottom: 45px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
    @include breakpoint($display_medium_up) {
      display: inline-block !important;
    }
    &:hover:before {
      opacity: 0.75;
    }
  }

  button.slick-next {
    right: 60px;
    top: 100px;

  }
  button.slick-prev {
    right: 130px;
    top: 100px;
    left: auto;
  }
  .paging-info {
    position: absolute;
    bottom: 30px;
    z-index: 20;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: none;
    @include breakpoint($display_medium_up) {
      display: block;
      bottom: 15px;
      right: 60px;
    }
  }
}
