.location-card {
  .location-card__image {
    margin-bottom: 30px;
  }
  .location-card__detail {
    h3 {
      margin: 0 0 1rem 0;
    }
    .contact {
      p {
        &:first-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}
