.news__byline {
  &__content {
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
  border-bottom: 1px solid #B4B9BF;
  margin-bottom: 25px;
  padding-bottom: 5px;
  margin-top: 5px;
  &__share {
    float: right;
    margin-top: 0;
  }
}
