.profile-card {
  max-width: 180px;
  margin-right: 3%;
  .profile-card__detail {
    margin-top: 30px;
    margin-bottom: 30px;
    h4 {
      font-size: 18px;
      font-weight: 400;
      a {
        color: inherit;
      }
    }
     p {
      margin: 0px;
      font-size: 15px;
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }
}
