.profile-teaser {
  .profile-teaser__image {
    float: left;
    margin-right: 30px;
    width: 150px;
  }
  .profile-teaser__name {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile-teaser__detail {
    .profile-teaser__title, .profile-teaser__department {
      margin: 0;
    }
    & .profile-teaser__text {
      clear: none;
      padding-top: 15px;
      p {
        overflow: hidden;
      }
    }
  }
}
