.profile-short-teaser {
  max-width: 180px;
  .profile-short-teaser__name {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile-short-teaser__detail {
    .profile-short-teaser__title, .profile-short-teaser__department {
      margin: 0;
    }
    & .profile-short-teaser__text {
      clear: none;
      padding-top: 15px;
      p {
        overflow: hidden;
      }
    }
  }
}
