.publication-teaser {
  margin-top: 30px;
  .publication-teaser__title {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 4px;
    font-weight: 300;
    margin: 0;
    cite {
      font-style: normal;
    }
  }
  .publication-teaser__source, .publication-teaser__name {
    margin-top: 0;
    margin-bottom: 0;
  }
}
