.related-content-menu {
  .related-content-menu__links_2_col {
      ul {
        column-count: 2;
        margin-left: 0;
        li {
          list-style: none;
          margin-bottom: 8px;
        }
      }
  }
}
