.search {
  position: relative;
  width: 175px;
  .search-form {
    position: relative;
    display: inline;
    float: left;
    input#edit-search-block-form--2 {
      border: 1px solid $white;
      border-bottom: 1px solid $darkestgray;
      width: 173px;
      font-size: 15px;
      position: relative;
      font-family: $font-helvetica-neue;
      padding: 5px;
      padding-right: 30px;
      &:focus {
        border: 1px solid $ucsf-blue;
        margin: 0;
        padding: 5px;
        padding-right: 30px;
      }
    }
  }
  input#edit-submit--2 {
    width: 35px;
    font-size: 18px;
    border: none;
    float:left;
    cursor: pointer;
    background: transparent;
    z-index: 20;
    padding-bottom: 6px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    right: 0;
  }
  .fa-search{
    &:before {
      position: absolute;
      top: 6px;
      right: 5px;
      padding-left: 10px;
      color: $darkestgray;
      z-index: 10;

    }
  }
}

.element-invisible {
  display: none;
}
