.social-media-share {
  .fa {
    border-bottom: 3px solid $darkestgray;
    line-height: 1.5;
    color: $darkestgray;
    margin-left: 10px;
    width: 30px;
    text-align: center;
    &:hover {
      transition: all .2s linear;
    }
  }
  .facebook-share {
    &:hover {
      color: #3b5998;
      border-color: #3b5998;
    }
  }

  .twitter-share {
    &:hover {
      color: #4099FF;
      border-color: #4099FF;
    }
  }

  .email-share {
    &:hover {
      color: $black;
      border-color: $black;
    }
  }
  .generic-share{
    &:hover {
      color: #00BF00;
      border-color: #00BF00;
    }
  }
  .social-media-hide-text {
    display: inline-block;
    text-indent: -99999px;
  }
}
