<div class="font-granjon">Text Style 1 - Granjon Regular
  <h1 class="font-granjon">Heading Level 1</h1>
  <h2 class="font-granjon">Heading Level 2</h2>
  <h3 class="font-granjon">Heading Level 3</h3>
  <h4 class="font-granjon">Heading Level 4</h4>
  <h5 class="font-granjon">Heading Level 5</h5>
</div>
<hr />
<div class="font-helvetica-neue-light">Text Style 2 - Helvetica Neue Light
  <h1 class="font-helvetica-neue-light">Heading Level 1</h1>
  <h2 class="font-helvetica-neue-light">Heading Level 2</h2>
  <h3 class="font-helvetica-neue-light">Heading Level 3</h3>
  <h4 class="font-helvetica-neue-light">Heading Level 4</h4>
  <h5 class="font-helvetica-neue-light">Heading Level 5</h5>
</div>
