<script type="text/javascript"
src="http://calendar.ucsf.edu/widget/view?schools=ucsf&days=31&num=50&picks=1&template=modern"></script>
<div id="lclst_widget_footer">
  <a rel="nofollow" style="margin-left:auto;margin-right:auto;display:block;width:81px;margin-top:10px;" title="Widget powered by Localist Online Calendar Software" href="http://www.localist.com?utm_source=widget&utm_campaign=widget_footer&utm_medium=branded%20link">
    <img src="//d3e1o4bcbhmj8g.cloudfront.net/assets/platforms/default/about/widget_footer.png" alt="Localist Online Calendar Software" style="vertical-align: middle;" width="81" height="23">
  </a>
</div>
