<div class="contact-widget">
    <div class="contact-widget__header">
      <h3 class="contact-widget__title">Contact Us</h3>
      <div class="contact-widget__social-media-links">
          <a href="#"><i class="fa fa-facebook facebook-share" aria-hidden="true" title="Share on Facebook"></i> <span class="text-indent">Facebook</span></a>
          <a href="#"><i class="fa fa-twitter twitter-share" aria-hidden="true" title="Share on Twitter"></i> <span class="text-indent">Twitter</span></a>
          <a href="#"><i class="fa fa-youtube-play youtube-link" aria-hidden="true" title= "youtube"> <span class="text-indent">YouTube</span></i></a>
      </div>
    </div>
    <p class="contact-widget__address">2330 Post St #420, San Francisco, California 94115, United States</p>
    <div class="contact-widget__contact">
      <p class="contact-widget__phone">Phone: (415) 476-7500</p>
      <p class="contact-widget__fax">Fax: (415) 502-6361</p>
    </div>
</div>
