<div class="sidebar-bg-white align-left multiple-element-sidebar">
  <h2 class ="multiple-element-sidebar__section_title font-granjon">Publications</h2>
  <div class="multiple-element-sidebar__section">
    <div class="multiple-element-sidebar__section-item">
      {% include "molecules-publication-teaser" %}
    </div>
    <div class="multiple-element-sidebar__section-item">
      {% include "molecules-publication-teaser" %}
    </div>
    <div class="multiple-element-sidebar__section-item-last">
      {% include "molecules-publication-teaser" %}
    </div>
  </div>
  <h2 class ="multiple-element-sidebar__section_title font-granjon">Links</h2>
  <div class="multiple-element-sidebar__section">
    {% include "molecules-link-list" %}
  </div>
</div>
