<div class="link-list">
  <ul>
    <li><a href="#">{{ text.linkList.link1 }}</a></li>
    <li><a href="#">{{ text.linkList.link2 }}</a></li>
    <li><a href="#">{{ text.linkList.link3 }}</a></li>
    <li><a href="#">{{ text.linkList.link4 }}</a></li>
  </ul>
</div>
