<div class="news__byline">
    <div class="news__byline__content">By {{ text.news.name }} on <time>{{ month.long }} {{ day.long }}, {{ year.long }}</time>
        <div class="news__byline__share">{% include "molecules-social-media-sharing" %}</div>
    </div>
</div>
