<div class="news__byline">
    By {{ text.news.name }} on {{ month.long }} {{ day.long }}, {{ year.long }}
    <div class="news__byline__share">{% include "molecules-social-media-sharing" %}</div>
</div>
