<div class="search">
  <div class="search-form">
    <label class="element-invisible" for="edit-search-block-form--2">Search... </label>
    <input title="Enter the terms you wish to search for." placeholder="Search..." class="text-input form-text" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="40" maxlength="128">
  </div>
  <div class="form-actions form-wrapper" id="edit-actions">
  <span class="search-icon fa fa-search"></span>
  <input type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit">
  </div>
  <input type="hidden" name="form_build_id" value="">
  <input type="hidden" name="form_id" value="search_block_form">
</div>
