<div class="social-media-links"><a href="#" class="fa fa-facebook facebook-link">Facebook</a><a href="#" class="fa fa-twitter twitter-link">Twitter</a><a href="#" class="fa fa-youtube youtube-link">Youtube</a></div>

