<p>Link to UCSF Channels</p>
<a href="#" alt="facebook"><i class="fa fa-facebook facebook-link" aria-hidden="true" title="facebook"></i></a>
<a href="#" alt="twitter"><i class="fa fa-twitter twitter-link" aria-hidden="true" title="twitter"></i></a>
<a href="#" alt="youtube"><i class="fa fa-youtube-play youtube-link" aria-hidden="true" title="youtube"></i></a>

<p>Sharing</p>
<a href="#" alt="facebook-share"><i class="fa fa-facebook facebook-share" aria-hidden="true" title="facebook-share"></i></a>
<a href="#" alt="twitter-share"><i class="fa fa-twitter twitter-share" aria-hidden="true" title="twitter-share"></i></a>
<a href="#" alt="email-share"><i class="fa fa-envelope-o email-share" aria-hidden="true" title="email-share"></i></a>
<a href="#" alt="generic-share"><i class="fa fa-share-alt generic-share" aria-hidden="true" title="generic-share"></i></a>
