<p>Link to UCSF Channels</p>
<a href="#"><i class="fa fa-facebook facebook-link" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter twitter-link" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-youtube-play youtube-link" aria-hidden="true"></i></a>

<p>Sharing</p>
<a href="#"><i class="fa fa-facebook facebook-share" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter twitter-share" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-envelope-o email-share" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-share-alt generic-share" aria-hidden="true"></i></a>
