
<div class="social-media-share">
    <a href="#"><i class="fa fa-facebook facebook-share" aria-hidden="true" title="facebook-share"></i></a>
    <a href="#"><i class="fa fa-twitter twitter-share" aria-hidden="true" title="twitter-share"></i></a>
    <a href="#"><i class="fa fa-envelope-o email-share" aria-hidden="true" title="email-share"></i></a>
    <a href="#"><i class="fa fa-share-alt generic-share" aria-hidden="true" title="generic-share"></i></a>
</div>
