
<div class="social-media-share">
    <a href="#"><i class="fa fa-facebook facebook-share" aria-hidden="true" title="Share on Facebook"></i> <span class="text-indent">Facebook</span></a>
    <a href="#"><i class="fa fa-twitter twitter-share" aria-hidden="true" title="Share on Twitter"></i> <span class="text-indent">Twitter</span></a>
    <a href="#"><i class="fa fa-envelope-o email-share" aria-hidden="true" title="Share by Email"></i> <span class="text-indent">Email</span></a>
    <a href="#"><i class="fa fa-share-alt generic-share" aria-hidden="true" title="More Share options"></i> <span class="text-indent">Share</span></a>
</div>
