
<div class="social-media-share">
    <a href="#"><span class="fa fa-facebook facebook-share" aria-hidden="true" title="Share on Facebook"></span> <span class="text-indent">Facebook</span></a>
    <a href="#"><span class="fa fa-twitter twitter-share" aria-hidden="true" title="Share on Twitter"></span> <span class="text-indent">Twitter</span></a>
    <a href="#"><span class="fa fa-envelope-o email-share" aria-hidden="true" title="Share by Email"></span> <span class="text-indent">Email</span></a>
    <a href="#"><span class="fa fa-share-alt generic-share" aria-hidden="true" title="More Share options"></span> <span class="text-indent">Share</span></a>
</div>
