{% extends "two_col_page.twig" %}
{% block hero %}{% endblock %}
{% block heading %}
    {% include "molecules-breadcrumbs" %}
    {{ titles.h1(news.title) }}
{% endblock %}
{% block main %}
    {% include "molecules-news-byline" %}
    {% include "molecules-figure-caption" with news %}
    <div class="subsection">{% autoescape false %}{{ news.content }}{% endautoescape %}</div>
{% endblock %}
{% block sidebar %}
    {% include "organisms-multiple-element-sidebar" %}
{% endblock %}
