<div class="location-teaser clearfix">
  <div class="location-teaser__image">
    {% include "atoms-location-image-large" %}
  </div>
  <div class="location-teaser__detail">
    <h3 class="location-teaser__title">Office Location</h3>
    <p class="location-teaser__address">2330 Post St #420, San Francisco, California 94115, United States</p>
    <div class="location-teaser__contact">
      <p class="location-teaser__phone">Appointments: (415) 476-7500</p>
      <p class="location-teaser__fax">Fax: (415) 502-6361</p>
    </div>
    <p class="location-teaser__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam.</p>
  </div>
</div>
