<div class="news-teaser clearfix">
  <div class="news-teaser__image">
    {% include "atoms-card-image" %}
  </div>
  <div class="news-teaser__detail">
    <h3 class="font-helvetica-neue-light">{% if(text.news.link) %}{{ html.a(text.news.link) }}{% else %}{{ text.news.title }}{% endif %}</h3>
    <p class="news-teaser__author-date">By {{ text.author }} on {% include "atoms-date" %}</p>
    <p>{{ text.news.paragraph }}</p>
  </div>
</div>
