<div class="profile-teaser">
  <div class="profile-teaser__image">
    {% include "atoms-profile-image-small" %}
  </div>
  <div class="profile-teaser__detail">
    <h4 class="font-helvetica-neue-light">Firstname Lastname</h4>
    <p class="font-helvetica-neue-light">Designation / Job Title</p>
    <p class="font-helvetica-neue-light">Department / School Information</p>
    <p class="font-helvetica-neue-light profile-teaser__phone">Phone Number</p>
  </div>
  <div class="profile-teaser__text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. onerror.</p>
  </div>
</div>
