<div class ="publication-teaser">
    <div class="publication-teaser__detail">
    <h2>{{ html.a(text.publicationShortTeaser.link) }}</h2>
    <p class="publication-teaser__source">{{ text.publicationShortTeaser.source }}</p>
    <p class ="publication-teaser__name">{{ text.publicationShortTeaser.name }}</p>
  </div>
</div>
