<div class ="publication-teaser">
    <div class="publication-teaser__detail">
    <h2><a href ="#">{{ text.publicationShortTeaser.title }}</a></h2>
    <p class="publication-teaser__source">{{ text.publicationShortTeaser.source }}</p>
    <p class ="publication-teaser__name">Konfino J, Fernandez A, Penko J, Mason A, Martinez E, Pérez-Stable EJ, Mejía R</p>
  </div>
</div>
