<div class="publication-teaser">
    <h3 class="publication-teaser__title"><cite>{{ html.a(text.publicationShortTeaser.link) }}</cite></h3>
    <p class="publication-teaser__source">{{ text.publicationShortTeaser.source }}</p>
    <p class ="publication-teaser__name">{{ text.publicationShortTeaser.name }}</p>
</div>
