.triptych {
  @include breakpoint($display_medium_min) {
    .col-1 {
      @include grid-span(4,1, (12));
      padding-right: 2em;
    }
    .col-2 {
      @include grid-span(4,5, (12));
      padding-right: 1em;
      padding-left: 1em;
    }
    .col-3 {
      @include grid-span(4,9, (12));
      padding-left: 2em;
    }
  }
}